/**  Tailwind color references: https://tailwindcss.com/docs/colors  **/
 
/** Colors **/
:root {
  /** Base Colors **/
  --background: rgb(255, 255, 255); /* --color-white */
  --foreground: rgb(39, 39, 42); /* --color-zinc-800 */
  --card: rgb(255, 255, 255); /* --color-white */
  --card-foreground: rgb(39, 39, 42); /* --color-zinc-800 */
  --popover: rgb(255, 255, 255); /* --color-white */
  --popover-foreground: rgb(39, 39, 42); /* --color-zinc-800 */
  --primary: #4D7FFF; /* custom color  */
  --primary-foreground: rgb(255, 255, 255); /* --color-white */
  --secondary: rgb(250, 250, 250); /* --color-zinc-100 */
  --secondary-foreground: rgb(82, 82, 91); /* --color-zinc-600 */
  --muted: rgb(250, 250, 250); /* --color-zinc-100 */
  --muted-foreground: rgb(161, 161, 170); /* --color-zinc-400 */
  --accent: rgb(250, 250, 250); /* --color-zinc-100 */
  --accent-foreground: rgb(24, 24, 27); /* --color-zinc-900 */
  --destructive: rgb(220, 38, 38); /* --color-red-600 */
  --destructive-foreground: rgb(255, 255, 255); /* --color-white */
  --mono: rgb(9, 9, 11); /* --color-zinc-950 */
  --mono-foreground: rgb(255, 255, 255);  /* --color-white */
  /** Base Styles **/
  --border: rgb(244, 244, 245); /* between --color-zinc-100 and --color-zinc-200 */
  --input: rgb(228, 228, 231); /* --color-zinc-200 */
  --ring: rgb(161, 161, 170); /* --color-zinc-400 */
  --radius: 0.5rem;
}
 
.dark {
  /** Base Colors **/
  --background: rgb(9, 9, 11); /* --color-zinc-950 */
  --foreground: rgb(250, 250, 250); /* --color-zinc-50 */
  --card: rgb(9, 9, 11); /* --color-zinc-950 */
  --card-foreground: rgb(250, 250, 250); /* --color-zinc-50 */
  --popover: rgb(9, 9, 11); /* --color-zinc-950 */
  --popover-foreground: rgb(250, 250, 250); /* --color-zinc-50 */
  --primary: #4D7FFF; /* custom color  */
  --primary-foreground: rgb(255, 255, 255); /* --color-white */
  --secondary: rgb(39, 39, 42); /* --color-zinc-800 */
  --secondary-foreground: rgb(161, 161, 170); /* --color-zinc-400 */
  --muted: rgb(24, 24, 27); /* --color-zinc-900 */
  --muted-foreground: rgb(115, 115, 115); /* --color-zinc-500 */
  --accent: rgb(24, 24, 27); /* --color-zinc-900 */
  --accent-foreground: rgb(250, 250, 250); /* --color-zinc-50 */
  --destructive: rgb(220, 38, 38); /* --color-red-600 */
  --destructive-foreground: rgb(255, 255, 255); /* --color-white */
  --mono: rgb(212, 212, 216); /* --color-zinc-300 */
  --mono-foreground: rgb(0, 0, 0); /* --color-black */
  /** Base Styles **/
  --border: rgb(39, 39, 42); /* --color-zinc-800 */
  --input: rgb(39, 39, 42); /* --color-zinc-800 */
  --ring: rgb(82, 82, 91); /* --color-zinc-600 */
}
 
/** Theme Setup **/
@theme inline {
  /** Base Colors **/
  --color-background: var(--background);
  --color-foreground: var(--foreground);
 
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
 
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
 
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
 
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
 
  --color-mono: var(--mono);
  --color-mono-foreground: var(--mono-foreground);
 
  /** Base Styles **/
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
 
  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}
 
/** Custom Font Size **/
@theme {
  --text-2sm: 0.8125rem;
  --text-2sm--line-height: calc(1.075 / 0.8125);
 
  --text-2xs: 0.6875rem;
  --text-2xs--line-height: calc(0.825 / 0.6875);
}