%%DEFINE_HEADER%%
<script src="https://js.stripe.com/v3/"></script>

<div class="flex grow flex-col in-data-kt-[sticky-header=on]:pt-(--header-height-default) overflow-auto">
    %%DEFINE_SIDEBAR%%
    %%DEFINE_Message%%
    <main class="grow" id="content" role="content">
        <div class="kt-container-fluid pb-4 h-full flex items-center">
            <div class="kt-card kt-card-accent max-w-[400px] w-full mx-auto">
                <div class="kt-card-header">
                    <div class="kt-card-heading">
                        <h2 class="kt-card-title">Account Settings</h2>
                    </div>
                    <a class="kt-btn kt-btn-mono kt-btn-sm" href="%%DEFINE_editaccount%%" title="Edit Profile">
                        <i class="hgi hgi-stroke hgi-edit-02"></i> Edit Profile
                    </a>
                </div>
                <div class="kt-card-content">
                    <div class="size-24 overflow-hidden mx-auto rounded-full">
                        <img src="%%DEFINE_UPLOAD_LINK%%/profile/%%DEFINE_user_image%%" alt="">
                    </div>
                    <p class="text-gray-950 text-center mt-2">%%DEFINE_user_firstname%%</p>
                    <h6 style="display: none;">Name Your CES Account</h6>
                    <input style="display: none;" type="text" name="" value="" class="kt-input" placeholder="ie. Company Name, Personal Name etc...">
                    <div class="space-y-4">
                        <div>
                            <label class="kt-label">First Name</label>
                            <input type="text" name="user_firstname" value="%%DEFINE_user_firstname%%" class="kt-input" id="" placeholder="" required="required" disabled>
                        </div>
                        <div>
                            <label class="kt-label">Last Name</label>
                            <input type="text" name="user_lastname" value="%%DEFINE_user_lastname%%" class="kt-input" id="" placeholder="" required="required" disabled>
                        </div>
                        <div>
                            <label class="kt-label">Email</label>
                            <input type="text" name="user_email" value="%%DEFINE_user_email%%" class="kt-input" id="" placeholder="" required="required" disabled>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <a class="kt-btn kt-btn-primary changepassword" href="%%DEFINE_changepassword%%" title="Change Password">Change Password</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script>
    jQuery.noConflict();
    (function($) {
        // To active/inactive in leftbar
        $('.new_dashboard_left a').removeClass('active');
        $(document).ready(function(){
            setTimeout(function(){ $('.alert').remove(); }, 3000);
        });
    })(jQuery);
    
</script>
%%DEFINE_FOOTER%%