%%DEFINE_HEADER%%

<div class="flex grow flex-col in-data-kt-[sticky-header=on]:pt-(--header-height-default) overflow-auto">
  %%DEFINE_SIDEBAR%%
  %%DEFINE_Message%%
  <main class="grow" id="content" role="content">
    <div class="kt-container-fluid pb-4">
      <div class="w-full max-w-[800px] mx-auto %%DEFINE_bulkuploadcls%% %%DEFINE_azurestep1%%">
        <div class="kt-card kt-card-accent step" id="step1">
          <div class="kt-card-header">
            <h2 class="kt-card-title flex items-center gap-2">
              <img src="%%DEFINE_IMAGE_LINK%%/images/subtract-icon.svg" alt="">
              <span>Microsoft Entra ID (formerly Azure Active Directory)</span>
            </h2>
          </div>
          <div class="kt-card-content">
            <div class="flex items-center gap-4">
              <div class="text-gray-950 flex items-center gap-3">
                <span
                  class="flex-none flex items-center justify-center rounded-lg size-8 bg-gray-950 text-white">1</span>
                Step
              </div>
              <div class="text-gray-200 flex items-center gap-3">
                <span
                  class="flex-none flex items-center justify-center rounded-lg size-8 bg-gray-200 text-white">2</span>
                Step
              </div>
            </div>
            <p class="my-3">Specify which data you would like to import from Microsoft Entra ID (formerly Azure Active
              Directory) and
              match the data with the fields in your Master Signature.</p>
            <form id="mappingazure" method="post" action="" enctype="multipart/form-data">
              <div class="grid gap-5 grid-cols-1 lg:grid-cols-2">
                <div class="kt-card kt-card-accent">
                  <div class="kt-card-header">
                    <div class="kt-card-heading">
                      <h2 class="kt-card-title">Master Signature Field</h2>
                    </div>
                  </div>
                  <div class="kt-card-content">
                    <h6 class="font-semibold text-xl mb-2">Personal Information</h6>
                    <div class="space-y-2">
                      %%DEFINE_master_fieldp%%
                    </div>
                    <h6 class="font-semibold text-xl mt-5 mb-2">Contact Information</h6>
                    <div class="space-y-2">
                      %%DEFINE_master_fieldc%%
                    </div>
                  </div>
                </div>
                <div class="kt-card kt-card-accent">
                  <div class="kt-card-header">
                    <div class="kt-card-heading">
                      <h2 class="kt-card-title">Microsoft Entra ID (formerly Azure Active Directory) Attributes</h2>
                    </div>
                  </div>
                  <div class="kt-card-content">
                    <h6 class="font-semibold text-xl mb-2 invisible hidden lg:block">Personal Information</h6>
                    <div class="space-y-2">
                      %%DEFINE_dirattr_fieldp%%
                    </div>
                    <h6 class="font-semibold text-xl mt-5 mb-2 invisible">Contact Information</h6>
                    <div class="space-y-2">
                      %%DEFINE_dirattr_fieldc%%
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex items-center gap-2 my-3">
                <label class="kt-label">Import Photos from Microsoft Entra ID (formerly Azure Active Directory) <a
                    href="javascript:void(0);" class="max-w-[16px] w-full" rel="tooltip" data-bs-toggle="tooltip" data-bs-html="true"
                    data-bs-title="Custom Esignature can export user photos from microsoft account and apply it to the respective signatures. Please note that the quality of the image in Microsoft Entra ID (formerly Azure Active Directory) is usually very low">
                    <img src="%%DEFINE_IMAGE_LINK%%/images/info-icon.svg"></a></label>
                <input class="kt-switch verified" type="checkbox" role="switch" id="import_profile"
                  name="import_profile" value="1" %%DEFINE_import_profilesel%%>
              </div>
              <input type="hidden" name="azuread_savefield" value="1" />
              <div class="text-center">
                <button type="submit" name="next" id="firstNextBtn"
                  class="submit kt-btn kt-btn-primary next action-button" value="Next Step">Next </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="w-full max-w-[800px] mx-auto %%DEFINE_bulkuploadcls%% %%DEFINE_azurestep2%%">
        <div class="kt-card kt-card-accent step" id="step1">
          <div class="kt-card-header">
            <h2 class="kt-card-title flex items-center gap-2">
              <img src="%%DEFINE_IMAGE_LINK%%/images/subtract-icon.svg" alt="">
              <span>Microsoft Entra ID (formerly Azure Active Directory)</span>
            </h2>
          </div>
          <div class="kt-card-content">
            <div class="flex items-center gap-4">
              <div class="text-gray-200 flex items-center gap-3">
                <span
                  class="flex-none flex items-center justify-center rounded-lg size-8 bg-gray-200 text-white">1</span>
                Step
              </div>
              <div class="text-gray-950 flex items-center gap-3">
                <span
                  class="flex-none flex items-center justify-center rounded-lg size-8 bg-gray-950 text-white">2</span>
                Step
              </div>
            </div>
            <div class="flex items-center gap-2 my-4">
              <input class="kt-checkbox" type="checkbox" name="showselectedazureaccount" id="showselectedazureaccount">
              <label class="kt-label" for="showselectedazureaccount">Show Selected</label>
            </div>
            <p>Select all or choose specific user groups to generate signatures for</p>
            <div class="border border-gray-200 rounded-xl mt-4 p-5">
              <input type="text" class="kt-input" value="" id="search_member" placeholder="Search user">
              <p id="notfound" style="display:none;">No results found</p>
              <div id="search_result" class="search_result accordion mt-2" style="display:none;">%%DEFINE_search_list%%</div>
              <form id="groupazure" method="post" action="" enctype="multipart/form-data">
                <div class="flex items-center justify-between">
                  <div class="flex items-center gap-2 my-3">
                    <input type="checkbox" class="kt-checkbox groupcbox" id="select_all" />
                    <label class="kt-label" for="select_all">Select All</label>
                  </div>
                  <div>Selected: <span id="selected_mem">0</span></div>
                </div>
                <!-- <div class="accordion" id="accordionExample">
                  %%DEFINE_group_list%%
                </div> -->


                <div data-kt-accordion="true" class="kt-accordion border border-gray-200 rounded-lg overflow-hidden">
                  %%DEFINE_group_list%%
                </div>

                <input type="hidden" name="azuread_group" value="1" />
                <div class="flex gap-2 justify-center mt-4">
                  <a href="%%DEFINE_azuread%%" class="submit kt-btn kt-btn-mono next action-button">Previous</a>
                  <button type="submit" name="next" class="submit kt-btn kt-btn-primary next action-button"value="Next Step">Import </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="bulk_upload_main text-center %%DEFINE_bulkerrorcls%%">
        <h2><a href="%%DEFINE_linkModuleDashboard%%">please select your Master Signature <br /> For bulk upload</a></h2>
        <p><a class="btn btn-primary" href="%%DEFINE_linkModuleDashboard%%">Dashboard <img
              src="%%DEFINE_IMAGE_LINK%%/images/arrow-right.svg" alt=""></a></p>
      </div>
    </div>
  </main>
</div>


<!-- share Popup -->

<!-- <div class="modal fade" id="success-importmodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border:none;">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="signature_ready_box">
          <img src="%%DEFINE_IMAGE_LINK%%/images/success-msg.png" />
          <h3>Congratulations!</h3>
          <p>The signatures you requested have been generated successfully</p>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="modal" id="backreview"
          data-bs-target="#shareModalbulk">Share signature</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade sharemodal sharebulmodel" id="shareModalbulk" tabindex="-1" aria-labelledby="shareModalbulkLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="border:none;">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h5 class="modal-title" id="exampleModalLabel">Share Signature</h5>
        <p>Enter email to share generated signature</p>
        <span id="sahre_msg"></span>
        <div class="border_bottom">
          <div class="left"><span>Name on Signature</span></div>
          <div class="righ"><span>Enter email to share</span></div>
        </div>

      </div>
      <div class="modal-body">
        <form id="bulkshare" enctype="multipart/form-data">
          %%DEFINE_signature_sharelists%%
          <input type="hidden" name="bulkshare" value="_bulksahre" />
        </form>
        <a href="javascript:void(0);" class="btn btn-primary ajaxaction_share" id="sharesig" data-id="0"
          data-action="share">Share</a>
      </div>

    </div>
  </div>
</div> -->

<input type="hidden" id="form_url" value="%%DEFINE_bulkupload%%" />

<script src="%%DEFINE_JS_LINK%%/jquery-3.5.1.min.js"></script>
<!-- <script src="%%DEFINE_JS_LINK%%/heapbox.min.js"></script> -->
<script type="text/javascript">


  $(document).ready(function () {

    $(document).on('click', '.master_checkbox', function (e) {
      e.stopPropagation();
    });

    $('#groupazure').submit(function () {
      if ($('.mem_checkbox:checked').length == '0') {
        alert("Please select atleast one signature to import");
        return false;
      }
    });

    $('#select_all').on('click', function () {
      if (this.checked) {
        $('.master_checkbox').each(function () { this.checked = true; });
        $('.mem_checkbox').each(function () { this.checked = true; });
        $('.mem_search_checkbox').each(function () { this.checked = true; });
      } else {
        $('.master_checkbox').each(function () { this.checked = false; });
        $('.mem_checkbox').each(function () { this.checked = false; });
        $('.mem_search_checkbox').each(function () { this.checked = false; });

      }
      var selectedmem = ($('.mem_checkbox:checked').length);
      $('#selected_mem').text(selectedmem);
    });

    $('.master_checkbox').on('click', function () {
      if ($('.master_checkbox:checked').length == $('.master_checkbox').length) {
        $('#select_all').prop('checked', true);
      } else {
        $('#select_all').prop('checked', false);
      }
    });


    $('.master_checkbox').change(function () {  // check box select all group
      var listCheckItemsid = $(this).attr('data-wrapper');
      var isMasterChecked = $(this).is(":checked");
      var listCheckItems = $("#" + listCheckItemsid + " :checkbox");
      var SearchlistCheckItems = $("#s" + listCheckItemsid + " :checkbox");
      listCheckItems.prop("checked", isMasterChecked);
      SearchlistCheckItems.prop("checked", isMasterChecked);

      var selectedmem = ($('.mem_checkbox:checked').length);
      $('#selected_mem').text(selectedmem);
    });

    $('.mem_checkbox').change(function () {  // check box select all member
      var listCheckItemsid = $(this).attr('data-wrapper');
      var listCheckItems = $("#" + listCheckItemsid + " :checkbox");
      var masterCheckid = $(this).attr('data-master');
      var masterCheck = $("#" + masterCheckid);
      var totalItems = listCheckItems.length;
      var checkedItems = listCheckItems.filter(":checked").length;

      if (totalItems == checkedItems) {
        masterCheck.prop("checked", true);
      } else if (checkedItems > 0 && checkedItems < totalItems) {
        masterCheck.prop("checked", false);
        $('#select_all').prop('checked', false);
      } else {
        masterCheck.prop("checked", false);
        $('#select_all').prop('checked', false);
      }
      var selectedmem = ($('.mem_checkbox:checked').length);
      $('#selected_mem').text(selectedmem);

      // select search textbox
      var searchselid = 'search_' + $(this).attr('id');
      if ($(this).prop('checked') == true) {
        $('#' + searchselid).prop("checked", true);
      } else {
        $('#' + searchselid).prop("checked", false);
      }

    });


    // search memners
    $("#search_member").keyup(function () {
      var filter = $(this).val(); var res = 0;
      $('#search_result div.search-container').hide();
      $('#search_result').css('display', 'none');
      $('#notfound').css('display', 'none');
      $('#search_result').css('display', 'block');
      $('#search_result div.search-container').each(function () {
        if ($(this).text().search(new RegExp(filter, "i")) < 0) {
          $(this).hide();
        } else {
          res = 1;
          $(this).show();
        }
      });
      if (res == 0) {
        $('#search_result').css('display', 'none');
        $('#notfound').css('display', 'block');
      }
    });

    $('.mem_search_checkbox').change(function () {
      var searchsel = $(this).attr('id');
      searchselid = searchsel.replace("search_", "");
      groupid = $(this).attr('data-master');
      if ($(this).prop('checked') == true) {
        $('#' + searchselid).prop("checked", true);
      } else {
        $('#' + searchselid).prop("checked", false);
        $('#' + groupid).prop("checked", false);
        $('#select_all').prop('checked', false);
      }
      var selectedmem = ($('.mem_checkbox:checked').length);
      $('#selected_mem').text(selectedmem);
    });


    // Show selected user only
    $('#showselectedazureaccount').on("click", function () {
      console.log("MAIN: " + $(this).is(":checked"))
      if ($(this).is(":checked")) { // only when show selected checkbox checked
        $('input.mem_checkbox').each(function () {
          console.log("SUB: " + $(this).is(":checked"))
          if ($(this).is(":checked")) {
            $(this).closest('.member_list').show();
          } else {
            $(this).closest('.member_list').hide();
          }
        });
        $('div.accordion-item').each(function () {
          $(this).find('input.mem_checkbox').each(function () {
            if ($(this).is(":checked")) {
              $(this).closest('.accordion-item').show();
              return false;
            } else {
              $(this).closest('.accordion-item').hide();
            }
          });
        });

      }
      else {
        $('input.mem_checkbox').each(function () {
          $(this).closest('.member_list').show();
        });
        $('div.accordion-item').each(function () {
          $(this).show();
        });
      }
    });


    // Heapbox_selectbox 
    // $(".select_heap_box").heapbox();

    $('.holder').click(function () {
      $(this).toggleClass("active");
    });
  });
</script>

IF("%%DEFINE_success_popup%%" == "1"){
<script>
  $(document).ready(function () {
    // $("#success-importmodel").modal('show');

    $('.ajaxaction_share').on("click", function () {
      var form = $('#bulkshare');
      var formdata = form.serialize();
      $.ajax({
        type: 'POST',
        url: $('#form_url').val(),
        data: formdata,
        dataType: 'json',
      }).done(function (data) {
        $('#sahre_msg').html(data.msg);
        $("#shareModalbulk").modal('hide');
        // Optionally alert the user of success here...
      }).fail(function (data) {
        return false;
        // Optionally alert the user of an error here...
      });
      return false;
    });
  });
</script>
{:IF}
<script>
  $(document).ready(function () {
    $('#firstNextBtn').on("click", function () {
      $(this).prop('disabled', true);
      $('.loader-image').show();
      $('#mappingazure').submit();
    });
  });
</script>

IF("%%DEFINE_azurestep2%%" != "hidden"){
<script>
  $(document).ready(function () {
    $(this).prop('disabled', false);
    $('.loader-image').hide();
  });
</script>
{:IF}
<script>
  jQuery.noConflict();
  (function ($) {
    // To active/inactive in leftbar
    $('.new_dashboard_left a').removeClass('active');
    $('.new_dashboard_left .integrations').addClass('active');
  })(jQuery);
</script>

%%DEFINE_FOOTER%%