%%DEFINE_HEADER%%

<script src="https://js.stripe.com/v3/"></script>
<div class="flex grow flex-col in-data-kt-[sticky-header=on]:pt-(--header-height-default) overflow-auto">
    %%DEFINE_SIDEBAR%%
    <main class="grow" id="content" role="content">
        %%DEFINE_Message%%
        <div class="kt-container-fluid pb-4">
            <!-- <h5 class="font-semibold mb-5">Billing</h5> -->

            <div class="kt-card kt-card-accent">
                <div class="kt-card-header mb-1">
                    <div class="kt-card-heading">
                        <h6 class="kt-card-title">Billing Overview</h6>
                    </div>
                    <div class="kt-card-toolbar">
                        IF("%%DEFINE_free_trial%%" == "0"){
                        <button data-kt-modal-toggle="#upgradeplanModal" class="kt-btn kt-btn-primary">
                            <img src="%%DEFINE_IMAGE_LINK%%/images/upgrade.svg" alt="">Upgrade
                        </button>
                        {:IF}
                        IF("%%DEFINE_free_trial%%" == "1"){
                        <button data-kt-modal-toggle="#upgradeplanModal" class="kt-btn kt-btn-primary">
                            <img src="%%DEFINE_IMAGE_LINK%%/images/upgrade.svg" alt="">Upgrade
                        </button>
                        <a href="%%DEFINE_li_cancelsubscription%%" class="kt-btn kt-btn-outline">Cancel</a>
                        {:IF}
                    </div>
                </div>
                <div class="kt-card-content p-1">
                    <div class="table-responsive-md billing_table overflow-auto">
                        <table class="kt-table">
                            <thead>
                                <tr class="*:text-nowrap">
                                    <th>Current Plan</th>
                                    <th>Signature</th>
                                    <th>Billing Period</th>
                                    <th>Renewal Date</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td><div class="flex items-center">%%DEFINE_plan_name%% <a href="javascript:void(0);"><img
                                            src="%%DEFINE_IMAGE_LINK%%/images/info-icon.svg" alt=""></a></div></td>
                                <td>%%DEFINE_total_sigcreated%%/%%DEFINE_plan_signature%%</td>
                                <td>%%DEFINE_plan_interval%%</td>
                                <td>%%DEFINE_plan_enddate%%</td>
                                <td>%%DEFINE_plan_invoiceamount%%</td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="kt-card kt-card-accent my-6 %%DEFINE_display_cardupdate%%">
                <div class="kt-card-header mb-1">
                    <div class="kt-card-heading">
                        <h6 class="kt-card-title">Payment Method</h6>
                    </div>
                    <a class="kt-btn kt-btn-primary" data-kt-collapse="#collapseChange">Change Payment Method</a>
                </div>
                <div class="kt-card-content p-5">
                    <div class="flex items-center border border-gray-200 rounded-full p-2">
                        <img class="h-8" src="%%DEFINE_IMAGE_LINK%%/images/visa-icon.png" alt="">
                        <span>%%DEFINE_user_cards%%</span>
                        <div class="kt-badge rounded-full ml-auto">Default</div>
                    </div>
                    <div class="transition-[height] duration-300 hidden" id="collapseChange">
                        <form action="" class="" id="changepamentForm" method="post">
                            <div class="floting-input mt-6">
                                <input type="text" class="kt-input" name="user_nameoncard"
                                    value="%%DEFINE_user_nameoncard%%" id="card_name" placeholder="Name on Card"
                                    required="required">
                                <label for="">Name on Card</label>
                            </div>
                            <div id="paymentResponse"></div>
                            <div class="floting-input h-12 border border-gray-200 rounded-full flex items-center px-4 mt-6">
                                <div id="card-element" class="w-full"></div>
                                <label for="">Card Number *</label>
                            </div>
                            <div class="mt-6 text-right">
                                <button type="submit" name="changepaymentm" class="kt-btn kt-btn-primary">Save</button>
                            </div>
                            <input type="hidden" name="customer_id" value="%%DEFINE_customer_id%%" />
                        </form>
                    </div>

                </div>
            </div>

            <div class="kt-card kt-card-accent %%DEFINE_display_cardupdate%%">
                <div class="kt-card-header mb-1">
                    <div class="kt-card-heading">
                        <h6 class="kt-card-title">Invoice History</h6>
                    </div>
                </div>
                <div class="kt-card-content p-1 overflow-auto">
                    <div class="table-responsive-md billing_table">
                        <table class="kt-table">
                            <thead>
                                <tr class="*:text-nowrap">
                                    <th>Date</th>
                                    <th>Invoice Number</th>
                                    <th>Amount</th>
                                    <th>Save File</th>
                                </tr>
                            </thead>
                            <tbody>
                                %%DEFINE_transaction%%
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <p class="text-gray-400 text-xs py-5">To cancel your account, please email
                <a class="text-primary" href="mailto:support@customesignature.com">support@customesignature.com</a> with your request
            </p>
        </div>
    </main>
</div>



<div class="kt-modal kt-modal-center" data-kt-modal="true" id="upgradeplanModal">
    <div class="kt-modal-content max-w-[700px]">
        <div class="kt-modal-header">
            <p class="kt-modal-title">%%DEFINE_plan_popuptitle%%</p>
            <button type="button" class="kt-modal-close" aria-label="Close modal"
                data-kt-modal-dismiss="#upgradeplanModal">
                <i class="hgi hgi-stroke hgi-cancel-circle text-2xl"></i>
            </button>
        </div>
        <div class="kt-modal-body">
            <p class="mb-3">You can change the plan and the number of signatures, then click on 'Upgrade'
                to upgrade your plan.</p>

            <form id="upgradeform">
                <div id="order-main" class="transition-[height] duration-300">
                    <div id="msg"></div>
                    <div class="flex items-center justify-between mb-2 mt-4">
                        <p class="text-gray-950 font-semibold text-lg">Selected Plan</p>
                        <div class="%%DEFINE_save_year_label%%">Change to Yearly <span>Save +20%</span></div>
                        <span class="text-primary underline cursor-pointer" id="changeplan">Change Plan</span>
                    </div>
                    <div id="selected-plan">
                        %%DEFINE_selected_plan%%
                    </div>
                    <div id="amount_due"></div>
                    <div class="flex justify-end gap-2 mt-4">
                        <a class="kt-btn kt-btn-outline" href="%%DEFINE_billing%%">Back</a>
                        <button type="submit" name="upgrade_planbtn" id="upgrade_planbtn" class="kt-btn kt-btn-primary" %%DEFINE_plan_upgradebtnd%%>
                            Upgrade <i class="hgi hgi-stroke hgi-arrow-right-02"></i>
                        </button>
                    </div>
                </div>

                <div class="dashboard_set_up_bg transition-[height] duration-300 hidden" id="selectplan-main">
                    <div class="flex justify-between items-center flex-col gap-4">
                        <div class="flex items-center gap-2">
                            <h5 class="font-semibold">Select Plan</h5>
                            <span class="kt-badge bg-gradient text-white rounded-full">Save 20%</span>
                        </div>
                        <div class="flex gap-2">
                            <div class="flex items-center gap-2.5">
                                <input class="kt-radio" type="radio" name="plan_type" id="plan_type2" value="year" checked>
                                <label class="kt-label" for="plan_type2">Yearly</label>
                            </div>
                            <div class="flex items-center gap-2.5">
                                <input class="kt-radio" type="radio" name="plan_type" id="plan_type1" value="quarter">
                                <label class="kt-label" for="plan_type1">Quarterly</label>
                            </div>
                        </div>
                    </div>

                    <div class="flex items-center justify-between font-semibold mt-5 mb-3">
                        <p class="">No. of Signatures</p>
                        <h6><span class="no_employee_qarter">5</span> Signatures</h6>
                        <input type="hidden" id="plan_unit" name="plan_unit" value="%%DEFINE_plan_selunit%%" />
                    </div>
                    <div class="range_slider">
                        <div id="range" class="noUi-target noUi-ltr noUi-horizontal"></div>
                        <div class="range_text">
                            <span class="rno active" id="rno1">1</span>
                            <span class="rno" id="rno3" style="margin-left:-7px;">3</span>
                            <span class="rno" id="rno5" style="margin-left:-7px;">5</span>
                            <span class="rno" id="rno10">10</span>
                            <span class="rno" id="rno15">15</span>
                            <span class="rno" id="rno20">20</span>
                            <span class="rno" id="rno25">25</span>
                            <span class="rno" id="rno30">30</span>
                            <span class="rno" id="rno35">35</span>
                            <span class="rno" id="rno40">40</span>
                            <span class="rno" id="rno45">45</span>
                            <span class="rno" id="rno50">50</span>
                            <span class="rno" id="rno55">55</span>
                            <span class="rno" id="rno60">60</span>
                            <span class="rno" id="rno65">65</span>
                            <span class="rno" id="rno70">70</span>
                            <span class="rno" id="rno75">75</span>
                            <span class="rno" id="rno80">80</span>
                            <span class="rno" id="rno85">85</span>
                            <span class="rno" id="rno90">90</span>
                            <span class="rno" id="rno95">95</span>
                            <span class="rno" id="rno100" style="margin-right:-12px;">100</span>
                        </div>
                    </div>

                    <div id="tab_quarter" style="display:none;">
                        <div class="signature_layot hidden">
                            <input type="radio" name="plan_id" id="plan_id1" class="imgbgchk" value="1" required="required" %%DEFINE_plan_selplan1%%>
                            <label for="plan_id1" class="changeprice" data-price="20">
                                <div class="bg-gradient-to-r from-[#26B7FF]/10 to-[#1D4AFE]/10 p-5 rounded-lg relative">
                                    <div class="flex justify-between mt-5 flex-col sm:flex-row">
                                        <h5 class="text-gray-950 font-semibold">Basic (Quarterly)</h5>
                                        <h5 class="text-gray-950 font-semibold">$<span class="quarter_basicprice cprice">10</span> /mo</h5>
                                    </div>
                                    <div class="flex justify-between">
                                        <p><span class="no_employee_qarter">5</span> Signature</p>
                                        <div class="monthprice" style="display:none;">
                                            $<span class="quarter_basicpricespl cpricespl">45</span> USD
                                        </div>
                                    </div>
                                </div>
                            </label>
                        </div>

                        <div class="signature_layot">
                            <input type="radio" name="plan_id" id="plan_id2" class="hidden imgbgchk" value="2" required="required" %%DEFINE_plan_selplan2%%>
                            <label for="plan_id2" class="changeprice" data-price="20">
                                <div class="bg-gradient-to-r from-[#26B7FF]/10 to-[#1D4AFE]/10 p-5 rounded-lg relative">
                                    <div class="flex justify-between flex-col sm:flex-row">
                                        <h5 class="text-gray-950 font-semibold">Pro (Quarterly)</h5>
                                        <h5 class="text-gray-950 font-semibold">$<span class="quarter_proprice cprice">15</span> /mo</h5>
                                    </div>
                                    <div class="flex justify-between">
                                        <p><span class="no_employee_qarter">5</span> Signature</p>
                                        <div class="monthprice" style="display:none;">
                                            $<span class="quarter_propricespl cpricespl">60</span> USD
                                        </div>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>

                    <div id="tab_year">
                        <div class="signature_layot hidden">
                            <input type="radio" name="plan_id" id="plan_id3" class="hidden imgbgchk" value="3" required="required" %%DEFINE_plan_selplan3%%>
                            <label for="plan_id3" class="changeprice" data-price="20">
                                <div class="bg-gradient-to-r from-[#26B7FF]/10 to-[#1D4AFE]/10 p-5 rounded-lg relative">
                                    <span class="kt-badge bg-gradient text-white rounded-full absolute left-2 top-2">Saving 20%</span>
                                    <div class="flex justify-between mt-5 flex-col">
                                        <h5 class="text-gray-950 font-semibold">Basic (Yearly)</h5>
                                        <h5 class="text-gray-950 font-semibold">$<span class="year_basicprice cprice">10</span> /mo</h5>
                                    </div>
                                    <div class="flex justify-between">
                                        <p><span class="no_employee_qarter">5</span> Signature</p>
                                        <div class="monthprice">$<span class="year_basicpricespl cpricespl">60</span> USD </div>
                                    </div>
                                </div>
                            </label>
                        </div>

                        <div class="signature_layot">
                            <input type="radio" name="plan_id" id="plan_id4" class="hidden imgbgchk" value="4" required="required" %%DEFINE_plan_selplan4%%>
                            <label for="plan_id4" class="changeprice" data-price="20">
                                <div class="bg-gradient-to-r from-[#26B7FF]/10 to-[#1D4AFE]/10 p-5 rounded-lg relative">
                                    <span class="kt-badge bg-gradient text-white rounded-full absolute left-2 top-2">Saving 20%</span>
                                    <div class="flex justify-between mt-5 flex-col sm:flex-row">
                                        <h5 class="text-gray-950 font-semibold">Pro (Yearly)</h5>
                                        <h5 class="text-gray-950 font-semibold">$<span class="year_proprice cprice">15</span> /mo</b></h5>
                                    </div>
                                    <div class="flex justify-between">
                                        <div class="text_price">
                                            <span class="no_employee_qarter">5</span> Signature
                                        </div>
                                        <div class="monthprice">$<span class="year_propricespl cpricespl">60</span> USD</div>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <button type="button" id="selectplan" class="kt-btn kt-btn-primary">Select</button>
                    </div>
                </div>
                
                <input type="hidden" name="customer_id" value="%%DEFINE_customer_id%%" />
                <input type="hidden" name="upgrade_plan" value="UPGRADEPLAN" />
            </form>
        </div>
    </div>
</div>



<!-- <div class="modal fade sharemodal" id="upgradeplanModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header" style="border:none;">
                <a href="%%DEFINE_billing%%" class="btn-close"></a>
                <h5 class="modal-title" id="exampleModalLabel">%%DEFINE_plan_popuptitle%%</h5>
                <p style="padding:10px 0;">You can change the plan and the number of signatures, then click on 'Upgrade' to upgrade your plan.</p>
            </div>
            <div class="modal-body">
               
            </div>
        </div>
    </div>
</div> -->

<script src="%%DEFINE_ROOT_LINK%%/script/jquery-3.5.1.min.js"></script>
<script src="%%DEFINE_JS_LINK%%/nouislider/nouislider.min.js"></script>
<script>
    jQuery.noConflict();
    (function ($) {
        start = $('#plan_unit').val();
        var rangeSlider = $('#range')[0];
        noUiSlider.create(rangeSlider, {
            start: [start],
            //behaviour: 'tap', //drag
            step: 5,
            connect: [true, false],
            range: {
                'min': [1],
                '2%': [1, 2],
                '4%': [5, 5],
                'max': [100]
            }
        });

        rangeSlider.noUiSlider.on('update', function (values, handle, unencoded) {
            //if(unencoded == 0 ) {unencoded = $('#plan_unit').val();}
            //  if(unencoded == 0 ) {unencoded = 1;}
            // if(unencoded == 0 ) {unencoded = 1;}
            //  if( unencoded == '39.99999999999999') { unencoded = 40;}
            //  unencoded = unencoded.slice(0, 2);
            //  if( unencoded == 74) { unencoded = 75;}
            unencoded = values;
            unencoded = parseInt(unencoded);
            if (unencoded == 0) {
                unencoded = 1;
            }
            if (isNaN(unencoded)) {
                unencoded = 1;
            }


            $('#plan_unit').val(unencoded);
            $('.no_employee_qarter').text(unencoded);
            // quarter price changhe
            //  var basic_quarter_unit = JSON.parse('%%DEFINE_basic_quarter_unit%%');
            var pro_quarter_unit = JSON.parse('%%DEFINE_pro_quarter_unit%%');
            //  var basic_quarter_unitspl = JSON.parse('%%DEFINE_basic_quarter_unitspl%%');
            var pro_quarter_unitspl = JSON.parse('%%DEFINE_pro_quarter_unitspl%%');
            //  $('.quarter_basicprice').text(basic_quarter_unit[unencoded]);
            $('.quarter_proprice').text(pro_quarter_unit[unencoded]);
            // $('.quarter_basicpricespl').text(basic_quarter_unitspl[unencoded]);
            $('.quarter_propricespl').text(pro_quarter_unitspl[unencoded]);

            // year price changhe
            //  var basic_year_unit = JSON.parse('%%DEFINE_basic_year_unit%%');
            var pro_year_unit = JSON.parse('%%DEFINE_pro_year_unit%%');
            // var basic_year_unitspl = JSON.parse('%%DEFINE_basic_year_unitspl%%');
            var pro_year_unitspl = JSON.parse('%%DEFINE_pro_year_unitspl%%');
            //  $('.year_basicprice').text(basic_year_unit[unencoded]);
            $('.year_proprice').text(pro_year_unit[unencoded]);
            // $('.year_basicpricespl').text(basic_year_unitspl[unencoded]);
            $('.year_propricespl').text(pro_year_unitspl[unencoded]);

            // month
            // var basic_month_unit = JSON.parse('%%DEFINE_basic_month_unit%%');
            //  var pro_month_unit = JSON.parse('%%DEFINE_pro_month_unit%%');
            // $('.month_basicprice').text(basic_month_unit[unencoded]);
            // $('.month_proprice').text(pro_month_unit[unencoded]);

            $(".rno").removeClass("active");
            $("#rno" + unencoded).addClass("active");

        });

        $(document).ready(function () {

            // select pro plan if current purchased plan is basic
            var tab = $("input[name$='plan_type']:checked").val();
            if (tab == 'quarter') {
                $('#plan_id2').prop('checked', true);
                $('#tab_quarter').css('display', 'inline');
                $('#tab_year').css('display', 'none');
                $('.yearly_save').removeClass('hidden');
            } else {
                $('#plan_id4').prop('checked', true);
                $('#tab_quarter').css('display', 'none');
                $('#tab_year').css('display', 'inline');
                $('.yearly_save').addClass('hidden');
            }
            // select pro plan if current purchased plan is basic

            $("input[name$='plan_type']").click(function () {
                var tab = $(this).val();
                if (tab == 'quarter') {
                    $('#plan_id2').prop('checked', true);
                    $('#tab_quarter').css('display', 'inline');
                    $('#tab_year').css('display', 'none');
                    $('.yearly_save').removeClass('hidden');
                } else {
                    $('#plan_id4').prop('checked', true);
                    $('#tab_quarter').css('display', 'none');
                    $('#tab_year').css('display', 'inline');
                    $('.yearly_save').addClass('hidden');
                }
            });

            // To active/inactive in leftbar
            $('.new_dashboard_left a').removeClass('active');
        });
    })(jQuery);
</script>
<script>
    jQuery.noConflict();
    (function ($) {
        $('.changeprice').on("click", function () {

            $(this).css('border-color', '#00CCFF');
            var selectedplan = $(this).html();
            $('#selected-plan').html(selectedplan);
        });

        $('#selectplan').on("click", function () {
            var radioObj = $('input[name=plan_id]:checked');
            var selectedplan = radioObj.parent().find('label').html();
            $('#selected-plan').html(selectedplan);
            //for discount calcultion
            $("#order-main, #selectplan-main").toggleClass("hidden");
        });

        $("#changeplan").on("click", function () {
            $("#order-main, #selectplan-main").toggleClass("hidden");
        });
        
    })(jQuery);
</script>

<script type="text/javascript">
    jQuery.noConflict();
    (function ($) {
        $("#upgrade_planbtn,#upgradetrial_planbtn").click(function () {

            if (!confirm("Are you sure you want to upgrade your plan?")) {
                return false;
            }
            var form = $('#upgradeform');
            var url = $('#form_url').val();
            data = form.serialize();
            $(this).text('Loading..');
            $(this).attr('disabled', true);
            $.ajax({
                type: 'POST',
                url: $('#form_url').val(),
                data: form.serialize()
            }).done(function (data) {
                var json = JSON.parse(data);
                if (json.error != 1) {
                    $("#msg").html(json.message);
                    $("#upgrade_planbtn").text('Upgrade');
                    setTimeout(function () {
                        //window.location.reload(true);
                        $("#msg").html('');
                        window.location.href = url;
                    }, 2000);
                } else {
                    $("#msg").html(json.message);
                    $("#upgrade_planbtn").text('Upgrade');
                    $("#upgrade_planbtn").attr('disabled', false);
                    setTimeout(function () {
                        $("#msg").html('');
                    }, 2000);
                }

                // Optionally alert the user of success here...
            }).fail(function (data) {
                return false;
                // Optionally alert the user of an error here...
            });
            return false;
        });


        $('#selectplan').on('click', function (e) {

            $("#upgrade_planbtn").attr('disabled', true);
            var plan_id = $('input[name="plan_id"]:checked').val();
            var plan_unit = $("#plan_unit").val();
            $.ajax({
                type: 'POST',
                url: $('#form_url').val(),
                data: 'plan_id=' + plan_id + '&plan_unit=' + plan_unit + '&proration=1',
            }).done(function (data) {
                var json = JSON.parse(data);
                if (json.error != 1) {
                    if (json.free_trial == 1) {
                        $("#upgrade_planbtn").attr('disabled', false);
                    } else {
                        $("#amount_due").html('<span class="total" id="total">Amount Due: $' + json.amount_due + '</span>');
                        $("#upgrade_planbtn").attr('disabled', false);
                    }
                } else {
                    $("#msg").html(json.message);
                    $("#upgrade_planbtn").text('Upgrade');
                    $("#upgrade_planbtn").attr('disabled', true);
                    setTimeout(function () {
                        $("#msg").html('');
                    }, 2000);
                }

                // Optionally alert the user of success here...
            }).fail(function (data) {
                return false;
                // Optionally alert the user of an error here...
            });
            return false;
        });
    })(jQuery);
</script>
<!-- upgrade plan popup -->
<script src="%%DEFINE_ROOT_LINK%%/script/bootstrap.min.js"></script>


<!-- free plan popup -->
IF("%%DEFINE_upgrade_freetrial%%" == "1"){
<script>
    jQuery.noConflict();
    const upgradeplanModalEl = document.querySelector('#upgradeplanModal');
    const upgradeplanModal = KTModal.getInstance(upgradeplanModalEl);

    (function ($) {
        $(document).ready(function () {
            upgradeplanModal.show();
        });
    })(jQuery);
</script>
{:IF}
<!-- free plan popup -->

<input type="hidden" id="form_url" value="%%DEFINE_linkModuleBilling%%" />
<script type="text/javascript">
    jQuery.noConflict();
    (function ($) {
        $(document).ready(function () {
            $(".submitautorenew").click(function () { // auto renew on off
                var form = $('#msform');
                data = form.serialize();
                $.ajax({
                    type: 'POST',
                    url: $('#form_url').val(),
                    data: form.serialize(),
                }).done(function (data) {
                    var json = JSON.parse(data);
                    if (json.status == 200) {
                        $('#auto-error-msg').css('display', 'inline');
                        $('.submitautorenew').text(json.msg);
                        $('#auto_label').text(json.label);
                    }
                    // Optionally alert the user of success here...
                }).fail(function (data) {
                    return false;
                    // Optionally alert the user of an error here...
                });
                return false;
            });

            $('#changepaymentbtn').click(function () { //change payment method
                $(this).text(function (i, old) {
                    return old == 'Change Payment Method' ? 'Cancel' : 'Change Payment Method';
                });
            });

        });
    })(jQuery);
</script>

<script>
    // Create an instance of the Stripe object
    // Set your publishable API key
    var stripe = Stripe('%%DEFINE_STRIPE_PUBLISHABLE_KEY%%');

    // Create an instance of elements
    var elements = stripe.elements();
    var style = {
        base: {
            color: "#32325d",
            fontFamily: 'Roboto, sans-serif',
            fontSmoothing: "antialiased",
            fontSize: "13px",
            "::placeholder": {
                color: "#32325d"
            }
        },
        invalid: {
            fontFamily: 'Arial, sans-serif',
            color: "#fa755a",
            iconColor: "#fa755a"
        }
    };

    var cardElement = elements.create("card", {
        hidePostalCode: true,
        style: style
    });
    // Stripe injects an iframe into the DOM
    cardElement.mount("#card-element");

    // Validate input of the card elements
    var resultContainer = document.getElementById('paymentResponse');
    cardElement.addEventListener('change', function (event) {
        if (event.error) {
            resultContainer.innerHTML = '<p style="color:#F00;">' + event.error.message + '</p>';
        } else {
            resultContainer.innerHTML = '';
        }
    });
    // Get payment form element
    var form = document.getElementById('changepamentForm');

    // Create a token when the form is submitted.
    form.addEventListener('submit', function (e) {
        e.preventDefault();
        createToken();
        return false;
    });

    // Create single-use token to charge the user
    function createToken() {
        var card_name = document.getElementById('card_name').value;
        stripe.createToken(cardElement, {
            name: card_name
        }).then(function (result) {
            if (result.error) {
                // Inform the user if there was an error
                resultContainer.innerHTML = '<p style="color:#F00;">' + result.error.message + '</p>';
            } else {
                // Send the token to your server
                stripeTokenHandler(result.token);
            }
        });
    }

    // Callback to handle the response from stripe
    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);
        // Submit the form
        form.submit();
    }
</script>


<script type="text/javascript">
    jQuery.noConflict();
    (function ($) {
        $(document).ready(function () {
            var subscription_id = "%%DEFINE_subscription_id%%";
            if(!subscription_id){
                $('[data-kt-modal-toggle="#upgradeplanModal"]').attr('disabled', 'disabled');
            }else{
                $('[data-kt-modal-toggle="#upgradeplanModal"]').removeAttr('disabled');
            }
        });
    })(jQuery);
</script>


%%DEFINE_FOOTER%%