%%DEFINE_HEADER%%
<section>
    <script src="https://js.stripe.com/v3/"></script>
    <div class="container">
        <div class="new_dashboard_bg">
            <div class="new_dashboard_left">
                %%DEFINE_SIDEBAR%%
            </div>

            <div class="new_dashboard_right">
                %%DEFINE_Message%%
                <div id="register-error"></div>
                <div class="dashboard_set_up_bg change_password_set_up_bg">
                    <div class="row">
                        <div class="col-xl-7 col-lg-8 col-12">
                            <form action="" id="change_password_form" method="POST">
                                <div class="account_settings_bg">
                                    <h5 class="text-2xl text-center font-normal">Change Password</h5>
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="floatingPassword" name="user_current_password" value="" id="user_currrent_password" placeholder="Current Password" required="required">
                                        <label for="floatingPassword">Current Password</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="password" class="form-control" name="user_password" value="" id="user_password" placeholder="Password" required="required">
                                        <label for="user_password">New Password</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="password" class="form-control" name="user_cpassword" value="" id="user_cpassword" placeholder="Confirm Password" required="required" onchange="confirmpass(user_password,user_cpassword)" />
                                        <label for="user_cpassword">Confirm Password</label>
                                    </div>

                                    <div class="button_bg">
                                        <input type="hidden" value="updatepassword" name="update_detail" />
                                        <button type="submit" class="btn btn-primary">Update Password</button>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>


            </div>


        </div>
    </div>


    <script>
        $(document).ready(function(){
            setTimeout(function(){ $('.alert').remove(); }, 3000);
        });
        var form = document.getElementById('change_password_form');
        form.addEventListener('submit', function(e) {
            e.preventDefault(); // Always prevent default first
            var password = $('#user_password').val();
            var errorMessage = '';

            if (password.length < 8) {
                errorMessage += 'Password must be at least 8 characters long. ';
            }
            else if (!/[a-z]/.test(password)) {
                errorMessage += 'Password must contain at least one lowercase letter. ';
            }
            else if (!/[A-Z]/.test(password)) {
                errorMessage += 'Password must contain at least one uppercase letter. ';
            }
            else if (!/[0-9]/.test(password)) {
                errorMessage += 'Password must contain at least one number. ';
            }
            else if (!/[!@#$%^&*(),.?":{}|<>]/.test(password)) {
                errorMessage += 'Password must contain at least one special character. ';
            }
            if (errorMessage) {
                $("#register-error").html('<div class="alert alert-danger" role="alert">'+errorMessage+'</div>');
                $('html, body').animate({
                scrollTop: $("#register-error").offset().top - 50 // offset slightly above the message
                }, 500);
                setTimeout(() => { $("#register-error").empty(); }, 3000);
                return false;
            }
            form.submit();

        });

    </script>
    %%DEFINE_FOOTER%%