%%DEFINE_HEADER%%
<script src="https://js.stripe.com/v3/"></script>
    <div class="flex grow flex-col in-data-kt-[sticky-header=on]:pt-(--header-height-default) overflow-auto">
        %%DEFINE_SIDEBAR%%
        %%DEFINE_Message%%
        <div id="register-error"></div>

        <main class="grow" id="content" role="content">
            <div class="kt-container-fluid pb-4 h-full flex items-center">
                <div class="kt-card kt-card-accent max-w-[400px] w-full mx-auto">
                    <div class="kt-card-header">
                        <div class="kt-card-heading">
                            <h2 class="kt-card-title">Change Password</h2>
                        </div>
                    </div>
                    <div class="kt-card-content">
                        <form action="" id="change_password_form" method="POST">
                            <div class="space-y-4">
                                <div>
                                    <label class="kt-label" for="floatingPassword">Current Password</label>
                                    <input type="password" class="kt-input" id="floatingPassword" name="user_current_password" value="" id="user_currrent_password" placeholder="Current Password" required="required">
                                </div>
                                <div>
                                    <label class="kt-label" for="user_password">New Password</label>
                                    <input type="password" class="kt-input" name="user_password" value="" id="user_password" placeholder="Password" required="required">
                                </div>
                                <div>
                                    <label class="kt-label" for="user_cpassword">Confirm Password</label>
                                    <input type="password" class="kt-input" name="user_cpassword" value="" id="user_cpassword" placeholder="Confirm Password" required="required" />
                                </div>
                                <div class="text-center mt-5">
                                    <input type="hidden" value="updatepassword" name="update_detail" />
                                    <button type="submit" class="kt-btn kt-btn-primary">Update Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>


    <script>
        $(document).ready(function(){
            setTimeout(function(){ $('.alert').remove(); }, 3000);
        });
        var form = document.getElementById('change_password_form');
        form.addEventListener('submit', function(e) {
            e.preventDefault(); // Always prevent default first
            var password = $('#user_password').val();
            var confirmPassword = $('#user_cpassword').val();
            var currentPassword = $('#floatingPassword').val();
            var errorMessage = '';

            if (currentPassword.length < 8) {
                errorMessage += 'Current Password must be at least 8 characters long. ';
            }
            else if (!/[a-z]/.test(currentPassword)) {
                errorMessage += 'Current password must contain at least one lowercase letter. ';
            }
            else if (!/[A-Z]/.test(currentPassword)) {
                errorMessage += 'Current password must contain at least one uppercase letter. ';
            }
            else if (!/[0-9]/.test(currentPassword)) {
                errorMessage += 'Current password must contain at least one number. ';
            }
            else if (!/[!@#$%^&*(),.?":{}|<>]/.test(currentPassword)) {
                errorMessage += 'Current password must contain at least one special character. ';
            }

            if (password !== confirmPassword) {
                errorMessage += 'Passwords do not match. ';
            }
            else if (password.length < 8) {
                errorMessage += 'Password must be at least 8 characters long. ';
            }
            else if (!/[a-z]/.test(password)) {
                errorMessage += 'Password must contain at least one lowercase letter. ';
            }
            else if (!/[A-Z]/.test(password)) {
                errorMessage += 'Password must contain at least one uppercase letter. ';
            }
            else if (!/[0-9]/.test(password)) {
                errorMessage += 'Password must contain at least one number. ';
            }
            else if (!/[!@#$%^&*(),.?":{}|<>]/.test(password)) {
                errorMessage += 'Password must contain at least one special character. ';
            }
            // <div id="snackbar" class="fixed top-0 right-0 p-3"></div>
            //   <div id="snackbar-error" class="fixed top-0 right-0 p-3"></div>
            //   <div id="snackbar-info" class="fixed top-0 right-0 p-3"></div>
            if (errorMessage) {
                $("#register-error").html('<div id="snackbar" class="fixed top-0 right-0 p-3"><div class="gap-8 py-5 px-4 pl-11 border-l-9 border-red-600 rounded-xl relative bg-white bg-gradient-to-r from-[#EB4545]/12 to-[#EB4545]/0 shadow-lg" role="alert"><img draggable="false" class="absolute left-4" src="%%DEFINE_IMAGE_LINK%%/images/error-message-icon.svg" alt="">'+errorMessage+'</div></div>');
                $('html, body').animate({
                    scrollTop: $("#register-error").offset().top - 50 // offset slightly above the message
                }, 500);
                setTimeout(() => { $("#register-error").empty(); }, 3000);
                return false;
            }
            form.submit();

        });

    </script>
    %%DEFINE_FOOTER%%