%%DEFINE_HEADER%%

<div class="flex flex-col md:flex-row w-full">
	<div class="flex gap-3 w-full md:w-6/12 xl:w-7/12 flex-col p-6 lg:p-10">
		<div>
			<a href="%%DEFINE_ROOT_LINK%%/signin" class="kt-btn kt-btn-ghost inline-flex items-center gap-2">
				<i class="fal fa-angle-left text-xl mt-0.5"></i> <span>Back</span>
			</a>
		</div>
		<div class="flex-1 flex items-center justify-center xl:px-7">
			<div class="max-w-[460px] w-full mx-auto">
				<div class="text-center mb-4">
					<img class="inline-flex" src="%%DEFINE_IMAGE_LINK%%/images/logoThumb.svg" alt="">
				</div>
				<h5 class="text-2xl text-center font-normal">Create Password</h5>
				<div class="alert alert-danger" id="passwordError" style="display: none;"></div>
				<div id="snackbar" class="success-error-message fixed top-0 right-0 p-3"></div>
				<div id="snackbar-error" class="success-error-message fixed top-0 right-0 p-3"></div>
				<div id="snackbar-info" class="success-error-message fixed top-0 right-0 p-3"></div>
				%%DEFINE_Message%%
				<div class="kt-card p-8 mt-10 [box-shadow:0_4px_24px_rgba(29,74,254,0.3)]">
					<form id="createpasswordform" method="post">

						<div class="flex flex-col gap-6 mt-4">
							<input type="password" class="kt-input" id="suser_password" name="suser_password" id="suser_password" placeholder="Password" required="required">
							<input type="password" class="kt-input" id="suser_confirm_password" name="suser_confirm_password" id="suser_confirm_password" placeholder="Confirm Password" required="required">
						</div>
						<div class="mt-3 text-center">
							<button type="submit" name="submit" class="kt-btn kt-btn-primary passwordSubmit">Submit</button>
						</div>
						<input type="hidden" id="form_url" value="%%DEFINE_usermanagement%%/savepassword" />
						<input type="hidden" id="suser_email" name="suser_email" value="%%DEFINE_suser_email%%" />
						<input type="hidden" id="redirecturld" value="%%DEFINE_linkModuleDashboard%%" />
					</form>
				</div>
			</div>
		</div>
		<div class="flex flex-col gap-4 mt-4 text-sm items-center justify-between xl:flex-row">
			<span class="text-gray-600 text-center">© 2025 Custom Esignature's Inc. All rights reserved.</span>
			<div class="flex text-gray-700 items-center gap-2">
				<a href="https://www.customesignature.com/privacypolicy" target="_blank">Privacy Policy</a>
				<i class="fas fa-circle text-[6px] text-gray-400"></i>
				<a href="https://www.customesignature.com/terms-of-use" target="_blank">Terms and Conditions</a>
			</div>
		</div>
	</div>
	<div class="flex flex-col w-full py-8 px-3 md:w-6/12 xl:w-5/12 bg-gray-100 bg-top xxl:bg-center bg-cover bg-no-repeat"
		style="background-image: url(%%DEFINE_IMAGE_LINK%%/images/loginbg.jpg);">
		<div class="w-full flex-1 flex flex-col justify-center">
			<h3 class="text-[40px] px-5 xl:px-16 leading-[1.2] mb-4"><span
					class="bg-gradient-to-r from-[#26B7FF] to-[#1D4AFE] bg-clip-text text-transparent">Exceptional
					Service</span>
				That Exceeds Expectations</h3>
			<div class="swiper w-full" id="loginSlider">
				<div class="swiper-wrapper">
					<div class="swiper-slide px-5 xl:px-16">
						<p class="text-gray-700 relative pt-4"><i class="hgi hgi-stroke hgi-quote-up !absolute text-gray-900 top-3 -left-5 text-xl"></i> I had a
							fantastic
							experience
							with this service! The team was super helpful and really focused on my satisfaction. They
							listened to my
							needs and went above and beyond.</p>
						<div class="flex items-center gap-2 mt-6">
							<img class="rounded-full" src="%%DEFINE_IMAGE_LINK%%/images/user.jpg" alt="">
							<div>
								<p class="text-sm flex items-center gap-1">Sage Miller <img class="h-[13px]" src="%%DEFINE_IMAGE_LINK%%/images/new-verify-icon.svg" alt=""></p>
								<p class="text-xs text-gray-500">Founder - Awaken</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide px-5 xl:px-16">
						<p class="text-gray-700 relative pt-4"><i class="hgi hgi-stroke hgi-quote-up !absolute text-gray-900 top-3 -left-5 text-xl"></i> I had a
							fantastic
							experience
							with this service! The team was super helpful and really focused on my satisfaction. They
							listened to my
							needs and went above and beyond.</p>
						<div class="flex items-center gap-2 mt-6">
							<img class="rounded-full" src="%%DEFINE_IMAGE_LINK%%/images/user.jpg" alt="">
							<div>
								<p class="text-sm flex items-center gap-1">Sage Miller <img class="h-[13px]" src="%%DEFINE_IMAGE_LINK%%/images/new-verify-icon.svg" alt=""></p>
								<p class="text-xs text-gray-500">Founder - Awaken</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide px-5 xl:px-16">
						<p class="text-gray-700 relative pt-4"><i class="hgi hgi-stroke hgi-quote-up !absolute text-gray-900 top-3 -left-5 text-xl"></i> I had a
							fantastic
							experience
							with this service! The team was super helpful and really focused on my satisfaction. They
							listened to my
							needs and went above and beyond.</p>
						<div class="flex items-center gap-2 mt-6">
							<img class="rounded-full" src="%%DEFINE_IMAGE_LINK%%/images/user.jpg" alt="">
							<div>
								<p class="text-sm flex items-center gap-1">Sage Miller <img class="h-[13px]" src="%%DEFINE_IMAGE_LINK%%/images/new-verify-icon.svg" alt=""></p>
								<p class="text-xs text-gray-500">Founder - Awaken</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide px-5 xl:px-16">
						<p class="text-gray-700 relative pt-4"><i class="hgi hgi-stroke hgi-quote-up !absolute text-gray-900 top-3 -left-5 text-xl"></i> I had a
							fantastic
							experience
							with this service! The team was super helpful and really focused on my satisfaction. They
							listened to my
							needs and went above and beyond.</p>
						<div class="flex items-center gap-2 mt-6">
							<img class="rounded-full" src="%%DEFINE_IMAGE_LINK%%/images/user.jpg" alt="">
							<div>
								<p class="text-sm flex items-center gap-1">Sage Miller <img class="h-[13px]" src="%%DEFINE_IMAGE_LINK%%/images/new-verify-icon.svg" alt=""></p>
								<p class="text-xs text-gray-500">Founder - Awaken</p>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination mt-8 !static px-5 xl:px-16 text-center xl:!text-left md:!text-left"></div>
			</div>
		</div>
		<div class="px-5 xl:px-16 mb-0 xl:mb-12 md:mb-8 mt-5">
			<p class="text-black text-sm mb-4">Trusted by Industry Leading Companies</p>
			<div class="flex flex-wrap items-center *:py-3 gap-x-7 sm:gap-x-10">
				<div><img src="%%DEFINE_IMAGE_LINK%%/images/l1.png"></div>
				<div><img src="%%DEFINE_IMAGE_LINK%%/images/l2.png"></div>
				<div><img src="%%DEFINE_IMAGE_LINK%%/images/l3.png"></div>
				<div><img src="%%DEFINE_IMAGE_LINK%%/images/l4.png"></div>
				<div><img src="%%DEFINE_IMAGE_LINK%%/images/l5.png"></div>
				<div><img src="%%DEFINE_IMAGE_LINK%%/images/l6.png"></div>
				<div><img src="%%DEFINE_IMAGE_LINK%%/images/l7.png"></div>
				<div><img src="%%DEFINE_IMAGE_LINK%%/images/l8.png"></div>
				<div><img src="%%DEFINE_IMAGE_LINK%%/images/l9.png"></div>
			</div>
		</div>
	</div>
</div>

	<script src="%%DEFINE_ROOT_LINK%%/script/jquery-3.5.1.min.js"></script>

	<script language="javascript">
		$(document).ready(function () {
			$('#createpasswordform').on('submit', function (e) {
				var redirecturld = $('#redirecturld').val();
				var validate = 1;

				if ($('#suser_password').val() === "") {
					$('#suser_password').css('border-bottom-color', '#842029'); validate = 0;
				}
				if ($('#suser_confirm_password').val() === "") {
					$('#suser_confirm_password').css('border-bottom-color', '#842029'); validate = 0;
				}

				var password = $('#suser_password').val();
				var confirmPassword = $('#suser_confirm_password').val();
				var errorMessage = '';

				// Check password length (at least 8 characters)
				if (password.length < 8) {
					errorMessage += 'Password must be at least 8 characters long. ';
				}
				else if (!/[a-z]/.test(password)) {
					errorMessage += 'Password must contain at least one lowercase letter. ';
				}
				else if (!/[A-Z]/.test(password)) {
					errorMessage += 'Password must contain at least one uppercase letter. ';
				}
				else if (!/[0-9]/.test(password)) {
					errorMessage += 'Password must contain at least one number. ';
				}
				else if (!/[!@#$%^&*(),.?":{}|<>]/.test(password)) {
					errorMessage += 'Password must contain at least one special character. ';
				}
				else if (password !== confirmPassword) {
					errorMessage += 'Passwords do not match. ';
				}
				if (errorMessage) {
					$('#passwordError').html('<strong>Fail!</strong>' + errorMessage);
					$("#passwordError").show();
					setTimeout(function () { $('#passwordError').hide(); }, 2000);
					validate = 0;
				}


				if (validate != 1) {
					event.stopPropagation(); return false;
				}
				var form = $('#createpasswordform');
				data = form.serialize();
				formUrl = $('#form_url').val();
				$.ajax({
					type: 'POST',
					url: formUrl,
					data: form.serialize()
				}).done(function (data) {
					var json = JSON.parse(data);
					if (json.error != 1) {
						KTToast.show({
							message: '<b>Success!</b> Password saved!',
							variant: 'success',
							icon: '<i class="fas fa-check-circle text-success"></i>',
						});

						// $('#snackbar').html('<div class="gap-8 py-5 px-4 pl-11 border-l-9 border-green-600 rounded-xl relative bg-white bg-gradient-to-r from-[#00B71B]/12 to-[#00B71B]/0 shadow-lg"><img draggable="false" class="absolute left-4" src="%%DEFINE_IMAGE_LINK%%/images/success-message-icon.svg" alt=""><strong>Success! </strong>Password saved! </div>');
						// $('#snackbar').show();
						setTimeout(function () { window.location = redirecturld; }, 2000);
					} else {
						KTToast.show({
							message: `<strong>Failure! </strong> ${json.msg}`,
							variant: 'destructive',
							icon: '<i class="fas fa-exclamation-triangle text-danger"></i>',
						});

						// $('#snackbar-error').html('<div class="alert alert-danger"><img draggable="false" class="absolute left-4" src="%%DEFINE_IMAGE_LINK%%/images/error-message-icon.svg" alt=""><strong>Failure! </strong>' + json.msg + ' </div>');
						// $('#snackbar-error').show();
						// setTimeout(function () { $('#snackbar-error').hide(); }, 2000);
						return false;
					}
					// Optionally alert the user of success here...
				}).fail(function (data) {
					return false;
					// Optionally alert the user of an error here...
				});
				return false;
			});

		});
	</script>
	</section>
	%%DEFINE_FOOTER%%