%%DEFINE_HEADER%%

<div class="flex flex-col md:flex-row w-full">
	<div class="flex gap-3 w-full md:w-6/12 xl:w-7/12 flex-col p-6 lg:p-10">
		<div>
			<a href="%%DEFINE_ROOT_LINK%%/signin" class="kt-btn kt-btn-ghost inline-flex items-center gap-2">
				<i class="fal fa-angle-left text-xl mt-0.5"></i> <span>Back</span>
			</a>
		</div>
		<div class="flex-1 flex items-center justify-center xl:px-7">
			<div class="max-w-[460px] w-full mx-auto">
				<div class="text-center mb-4"><img class="inline-flex" src="%%DEFINE_IMAGE_LINK%%/images/logoThumb.svg"
						alt="">
				</div>
				
				
					IF("%%DEFINE_fp_step%%" == "1"){
					<form name="resetpassword" method="post">
						<h5 class="text-2xl text-center font-normal">Forgot Password</h5>
						%%DEFINE_Message%%
						<div class="kt-card p-8 mt-10 [box-shadow:0_4px_24px_rgba(29,74,254,0.3)]">
							<p class="text-gray-600 text-sm">Please enter the email address associated with your account. An OTP will be sent to your registered email for verification.</p>
							<div class="flex flex-col gap-6 mt-4">
								<div>
									<label class="kt-form-label">Email Address</label>
									<input type="email" class="kt-input" id="fpw_email" name="fpw_email"
										id="fpw_email" placeholder="Email Address" required="required"
										value="%%DEFINE_FPWEmail%%">
								</div>
								<div>
									<button type="submit" name="submit" class="kt-btn kt-btn-primary w-full">Send OTP</button>
								</div>
							</div>
						</div>
					</form>
					{:IF}

					IF("%%DEFINE_fp_step%%" == "2"){
					<form name="resetpassword" method="post">
						%%DEFINE_Message%%
 						<h3 class="text-2xl text-center mb-3">Verify OTP</h3>
						<p class="text-center">Please enter the code You will receive a OTP to your email account.</p>
						<p class="text-center flex justify-center items-center gap-1.5 mt-1 text-gray-400"><i class="hgi hgi-stroke hgi-information-circle"></i> check spam folder if not in inbox</p>
						<div class="kt-card p-5 lg:p-8 mt-10 [box-shadow:0_4px_24px_rgba(29,74,254,0.3)]">
							<span id="otp_error_message"></span>
							<div class="digit-group flex justify-center gap-2 *:text-center">
								<input type="text" id="digit-1" name="digit-1" data-next="digit-2" placeholder="0"
									class="inputotp kt-input !rounded-xl !p-0 !size-[35px] lg:!size-[52px] md:!size-[40px] focus-within:bg-primary/10 focus-within:border-primary" required/>
								<input type="text" id="digit-2" name="digit-2" data-next="digit-3" placeholder="0"
									data-previous="digit-1" class="inputotp kt-input !rounded-xl !p-0 !size-[35px] lg:!size-[52px] md:!size-[40px] focus-within:bg-primary/10 focus-within:border-primary" required/>
								<input type="text" id="digit-3" name="digit-3" data-next="digit-4" placeholder="0"
									data-previous="digit-2" class="inputotp kt-input !rounded-xl !p-0 !size-[35px] lg:!size-[52px] md:!size-[40px] focus-within:bg-primary/10 focus-within:border-primary" required/>
								<input type="text" id="digit-4" name="digit-4" data-next="digit-5" placeholder="0"
									data-previous="digit-3" class="inputotp kt-input !rounded-xl !p-0 !size-[35px] lg:!size-[52px] md:!size-[40px] focus-within:bg-primary/10 focus-within:border-primary" required/>
								<input type="text" id="digit-5" name="digit-5" data-next="digit-6" placeholder="0"
									data-previous="digit-4" class="inputotp kt-input !rounded-xl !p-0 !size-[35px] lg:!size-[52px] md:!size-[40px] focus-within:bg-primary/10 focus-within:border-primary" required/>
								<input type="text" id="digit-6" name="digit-6" data-previous="digit-5" placeholder="0"
									class="inputotp kt-input !rounded-xl !p-0 !size-[35px] lg:!size-[52px] md:!size-[40px] focus-within:bg-primary/10 focus-within:border-primary" required/>
							</div>
							<div class="my-6">
								<button type="submit" name="submit" class="kt-btn kt-btn-primary w-full" id="verifyFPOTP">Continue</button>
							</div>
							<div class="text-center text-gray-400 text-sm font-light">
								Didn’t receive OTP code? <a href="%%DEFINE_li_resendotp%%" class="text-primary font-semibold" id="resend_otp_link">Resend Code</a>
							</div>
						</div>
					</form>
					{:IF}

					IF("%%DEFINE_fp_step%%" == "3"){
					<form name="resetpassword" method="post">
						<h2 class="text-2xl text-center">Change Password</h2>
						<div class="kt-card p-8 mt-10 [box-shadow:0_4px_24px_rgba(29,74,254,0.3)]">
							%%DEFINE_Message%%
							<span id="password_error_message" class="fixed top-0 right-0 p-3"></span>
							<div class="flex flex-col">
								<div>
									<label class="kt-form-label">New Password</label>
									<input type="password" class="kt-input" name="fpw_password" id="fpw_password"
										placeholder="New Password" required="required">
								</div>
								<div class="mb-6 mt-3">
									<label class="kt-form-label">Confirm Password</label>
									<input type="password" class="kt-input" name="fpw_cpassword" id="fpw_cpassword"
										placeholder="Confirm Password" required="required">
								</div>
								<div>
									<button class="kt-btn kt-btn-primary w-full" id="password_verify_button">Update Password</button>
									<button type="submit" name="submit" class="kt-btn kt-btn-primary w-full hidden" id="password_form_submit_button">Update Password</button>
								</div>
							</div>
						</div>
					</form>
					{:IF}
			</div>
		</div>
		<div class="flex flex-col gap-4 mt-4 text-sm items-center justify-between xl:flex-row">
			<span class="text-gray-600 text-center">© 2025 Custom Esignature's Inc. All rights reserved.</span>
			<div class="flex text-gray-700 items-center gap-2">
				<a href="https://www.customesignature.com/privacypolicy" target="_blank">Privacy Policy</a>
				<i class="fas fa-circle text-[6px] text-gray-400"></i>
				<a href="https://www.customesignature.com/terms-of-use" target="_blank">Terms and Conditions</a>
			</div>
		</div>
	</div>
	<div class="flex flex-col w-full py-8 px-3 md:w-6/12 xl:w-5/12 bg-gray-100 bg-top xxl:bg-center bg-cover bg-no-repeat"
		style="background-image: url(%%DEFINE_IMAGE_LINK%%/images/loginbg.jpg);">
		<div class="w-full flex-1 flex flex-col justify-center">
			<h3 class="text-[40px] px-5 xl:px-16 leading-[1.2] mb-4"><span
					class="bg-gradient-to-r from-[#26B7FF] to-[#1D4AFE] bg-clip-text text-transparent">Exceptional
					Service</span>
				That Exceeds Expectations</h3>
			<div class="swiper w-full" id="loginSlider">
				<div class="swiper-wrapper">
					<div class="swiper-slide px-5 xl:px-16">
						<p class="text-gray-700 relative pt-4"><i class="hgi hgi-stroke hgi-quote-up !absolute text-gray-900 top-3 -left-5 text-xl"></i> I had a
							fantastic
							experience
							with this service! The team was super helpful and really focused on my satisfaction. They
							listened to my
							needs and went above and beyond.</p>
						<div class="flex items-center gap-2 mt-6">
							<img class="rounded-full" src="%%DEFINE_IMAGE_LINK%%/images/user.jpg" alt="">
							<div>
								<p class="text-sm flex items-center gap-1">Sage Miller <img class="h-[13px]" src="%%DEFINE_IMAGE_LINK%%/images/new-verify-icon.svg" alt=""></p>
								<p class="text-xs text-gray-500">Founder - Awaken</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide px-5 xl:px-16">
						<p class="text-gray-700 relative pt-4"><i class="hgi hgi-stroke hgi-quote-up !absolute text-gray-900 top-3 -left-5 text-xl"></i> I had a
							fantastic
							experience
							with this service! The team was super helpful and really focused on my satisfaction. They
							listened to my
							needs and went above and beyond.</p>
						<div class="flex items-center gap-2 mt-6">
							<img class="rounded-full" src="%%DEFINE_IMAGE_LINK%%/images/user.jpg" alt="">
							<div>
								<p class="text-sm flex items-center gap-1">Sage Miller <img class="h-[13px]" src="%%DEFINE_IMAGE_LINK%%/images/new-verify-icon.svg" alt=""></p>
								<p class="text-xs text-gray-500">Founder - Awaken</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide px-5 xl:px-16">
						<p class="text-gray-700 relative pt-4"><i class="hgi hgi-stroke hgi-quote-up !absolute text-gray-900 top-3 -left-5 text-xl"></i> I had a
							fantastic
							experience
							with this service! The team was super helpful and really focused on my satisfaction. They
							listened to my
							needs and went above and beyond.</p>
						<div class="flex items-center gap-2 mt-6">
							<img class="rounded-full" src="%%DEFINE_IMAGE_LINK%%/images/user.jpg" alt="">
							<div>
								<p class="text-sm flex items-center gap-1">Sage Miller <img class="h-[13px]" src="%%DEFINE_IMAGE_LINK%%/images/new-verify-icon.svg" alt=""></p>
								<p class="text-xs text-gray-500">Founder - Awaken</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide px-5 xl:px-16">
						<p class="text-gray-700 relative pt-4"><i class="hgi hgi-stroke hgi-quote-up !absolute text-gray-900 top-3 -left-5 text-xl"></i> I had a
							fantastic
							experience
							with this service! The team was super helpful and really focused on my satisfaction. They
							listened to my
							needs and went above and beyond.</p>
						<div class="flex items-center gap-2 mt-6">
							<img class="rounded-full" src="%%DEFINE_IMAGE_LINK%%/images/user.jpg" alt="">
							<div>
								<p class="text-sm flex items-center gap-1">Sage Miller <img class="h-[13px]" src="%%DEFINE_IMAGE_LINK%%/images/new-verify-icon.svg" alt=""></p>
								<p class="text-xs text-gray-500">Founder - Awaken</p>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination mt-8 !static px-5 xl:px-16 text-center xl:!text-left md:!text-left"></div>
			</div>
		</div>
		<div class="px-5 xl:px-16 mb-0 xl:mb-12 md:mb-8 mt-5">
			<p class="text-black text-sm mb-4">Trusted by Industry Leading Companies</p>
			<div class="flex flex-wrap items-center *:py-3 gap-x-7 sm:gap-x-10">
				<div><img src="%%DEFINE_IMAGE_LINK%%/images/l1.png"></div>
				<div><img src="%%DEFINE_IMAGE_LINK%%/images/l2.png"></div>
				<div><img src="%%DEFINE_IMAGE_LINK%%/images/l3.png"></div>
				<div><img src="%%DEFINE_IMAGE_LINK%%/images/l4.png"></div>
				<div><img src="%%DEFINE_IMAGE_LINK%%/images/l5.png"></div>
				<div><img src="%%DEFINE_IMAGE_LINK%%/images/l6.png"></div>
				<div><img src="%%DEFINE_IMAGE_LINK%%/images/l7.png"></div>
				<div><img src="%%DEFINE_IMAGE_LINK%%/images/l8.png"></div>
				<div><img src="%%DEFINE_IMAGE_LINK%%/images/l9.png"></div>
			</div>
		</div>
	</div>
</div>




	<script src="%%DEFINE_ROOT_LINK%%/script/jquery-3.5.1.min.js"></script>
	<script>
		$('#password_verify_button').on('click', function (e) {
			// Validate password
			var password = $('#fpw_password').val();
			var passwordC = $('#fpw_cpassword').val();

			if (password !== passwordC) {
				$('#password_error_message').html('<div class="alert alert-danger"><strong>Fail!</strong> Passwords do not match.</div>');
				setTimeout(function(){ $('#password_error_message').html(''); }, 3000);
				return false;
			}
			else if (password.length < 8) {
				$('#password_error_message').html('<div class="alert alert-danger"><strong>Fail!</strong> Password must be at least 8 characters long.</div>');
    			setTimeout(function(){ $('#password_error_message').html(''); }, 3000);
				return false;
			}
			else if (!/[a-z]/.test(password)) {
				$('#password_error_message').html('<div class="alert alert-danger"><strong>Fail!</strong> Password must contain at least one lowercase letter.</div>');
    			setTimeout(function(){ $('#password_error_message').html(''); }, 3000);
				return false;
			}
			else if (!/[A-Z]/.test(password)) {
				$('#password_error_message').html('<div class="alert alert-danger"><strong>Fail!</strong> Password must contain at least one uppercase letter.</div>');
    			setTimeout(function(){ $('#password_error_message').html(''); }, 3000);
				return false;
			}
			else if (!/[0-9]/.test(password)) {
				$('#password_error_message').html('<div class="alert alert-danger"><strong>Fail!</strong> Password must contain at least one number.</div>');
    			setTimeout(function(){ $('#password_error_message').html(''); }, 3000);
				return false;
			}
			else if (!/[!@#$%^&*(),.?":{}|<>]/.test(password)) {
				$('#password_error_message').html('<div class="alert alert-danger"><strong>Fail!</strong> Password must contain at least one special character.</div>');
    			setTimeout(function(){ $('#password_error_message').html(''); }, 3000);
				return false;
			}
			else{
				$('#password_error_message').html('');
				console.log('asdasd')
				$("#password_form_submit_button").click();
			}
		});

	</script>
	<script>
	$(document).ready(function(){
		if($('.alert').length > 0){
			setTimeout(function(){ $('.alert').hide(); }, 3000);
		}
		// Function to check if all OTP fields are filled
        function checkOtpFields() {
            let allFilled = true;
            for (let i = 1; i <= 6; i++) {
                if (!$(`#digit-${i}`).val()) {
                    allFilled = false;
                    break;
                }
            }
            $('#verifyOTP').prop('disabled', !allFilled);
        }
 
        // Handle input for each OTP field
        $('.inputotp').on('input', function(e) {
            // Get the current input value
            let value = $(this).val().trim();

            // Error message on non-digit characters
            if (value && !/^\d+$/.test(value)) {
				e.preventDefault();
				$('#otp_error_message').html('<div class="alert alert-danger"><strong>Fail!</strong> Please enter numbers only.</div>');
				setTimeout(function(){ $('#otp_error_message').html(''); }, 3000);
				$(this).val('');
				return;
			}
 
            // Take only the first digit
            value = value.slice(0, 1);
 
            // Update the input value
            $(this).val(value);
 
            // Check if all fields are filled
            checkOtpFields();
 
            // If a digit was entered, move to next input
            if (value.length === 1) {
                let nextInput = $(this).next('.inputotp');
                if (nextInput.length) {
                    nextInput.focus();
                }
            }
        });
 
        // Handle backspace key
        $('.inputotp').on('keydown', function(e) {
            if (e.key === 'Backspace' && !$(this).val()) {
                let prevInput = $(this).prev('.inputotp');
                if (prevInput.length) {
                    prevInput.focus();
                }
            }
        });
 
        // Handle paste event
        $('.inputotp').on('paste', function(e) {
            e.preventDefault();
            let pastedData = (e.originalEvent.clipboardData || window.clipboardData).getData('text').trim();
			if (!/^\d+$/.test(pastedData)) {
				$('#otp_error_message').html('<div class="alert alert-danger"><strong>Fail!</strong> Please enter numbers only.</div>');
				setTimeout(function(){ $('#otp_error_message').html(''); }, 3000);
				return;
			}
            pastedData = pastedData.replace(/[^0-9]/g, '').slice(0, 6);
 
            // Fill the inputs with pasted data
            for (let i = 0; i < pastedData.length; i++) {
                $(`#digit-${i + 1}`).val(pastedData[i]);
            }
 
            // Check if all fields are filled
            checkOtpFields();
 
            // Focus the next empty input or the last input
            let nextEmptyInput = $('.inputotp').filter(function() {
                return !$(this).val();
            }).first();
 
            if (nextEmptyInput.length) {
                nextEmptyInput.focus();
            } else {
                $('#digit-6').focus();
            }
        });

		var countdownTimer;
		var timeRemaining = 60;
		var isProcessing = false;

		$("#resend_otp_link").click(function(e) {
			e.preventDefault();

			if (isProcessing) return;
			isProcessing = true;

			var url = $(this).attr('href');
			$("#resend_otp_link").addClass("cursor-not-allowed");
			$("#resend_otp_link").text("sending...");
			$.ajax({
				url: url,
				type: "GET",
				success: function() {
					$("#resend_otp_link").text("Resend in " + timeRemaining + "s");
					$("#resend_otp_link").text("sent");
					countdownTimer = setInterval(function() {
						timeRemaining--;
						$("#resend_otp_link").text("Resend in " + timeRemaining + "s");
						if (timeRemaining <= 0) {
							clearInterval(countdownTimer);
							$("#resend_otp_link").text("Resend Code");
							$("#resend_otp_link").removeClass("cursor-not-allowed");
							isProcessing = false;
							timeRemaining = 60;
						}
					}, 1000);
				}
			});
		});
		
	});
	</script>
</section>
%%DEFINE_FOOTER%%