%%DEFINE_HEADER%%

<section>
 
<div class="container">
	<div class="dashboard_set_up_bg">
    	<div class="row">
        	<div class="col-md-6 col-12">
                <h1>Hello Kyle!</h1>
                <h3>Create Your First Signature with 3 Simple Steps</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                <div class="button_bg"><a href="form-step.html">Let’s Start <img src="%%DEFINE_IMAGE_LINK%%/images/arrow-right.svg" alt=""></a></div>
             </div>
            <div class="col-md-6 col-12">
            	<div class="dashboard_right_img"><img src="%%DEFINE_IMAGE_LINK%%/images/login-img.svg" alt=""></div>
            </div>
        </div>
    </div>
</div> 
  
  %%DEFINE_FOOTER%%  
  

 

 

 
 


 
              
    

 
  
</section>

<footer>
  
</footer>
 
  


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
       
  <script src="js/bootstrap.bundle.min.js"></script> 
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--<script src="js/jquery-3.5.1.slim.min.js"></script>	
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>-->
  


    
  </body>
</html>