%%DEFINE_HEADER%%
<div class="flex grow flex-col in-data-kt-[sticky-header=on]:pt-(--header-height-default) overflow-auto">
%%DEFINE_SIDEBAR%%
	<main class="grow" id="content" role="content">
    	<div class="kt-container-fluid pb-4 h-full flex items-center justify-center">
			<div class="w-full max-w-[800px] mx-auto %%DEFINE_bulkuploadcls%%">
				<div class="kt-card kt-card-accent step" id="step1">
					<div class="kt-card-header">
						<p class="kt-card-title flex items-center gap-2">
							<img src="%%DEFINE_IMAGE_LINK%%/images/install-addin.png" alt="">Microsoft 365 Add-in installation instructions
						</p>
					</div>
					<div class="kt-card-content">
						<p>Outlook Custom E-signature Add-in</p>
						<p>Easily apply consistent email signatures across all users on Windows, Mac, and Outlook Web with our centrally managed Outlook add-in. Your Microsoft Admin can roll it out to the whole organization or select employee groups as needed.</p>
						<p><b>Note on Deployment:</b> It may take up to 12 hours for Microsoft to complete the rollout to all users. You'll get an email confirmation once everything is set up.</p>
						<div class="text-center mt-4">
							<a href="%%DEFINE_ROOT_LINK%%/upload-beta/E-SIGN DOC For Delpoyment.pdf" target="_blank" class="kt-btn kt-btn-primary">Install the Add-in</a>
						</div>
					</div>
	        	</div>
    		</div>
		</div>
	</main>
</div>
%%DEFINE_FOOTER%%