%%DEFINE_HEADER%%
<div class="container">	
 	<div class="new_dashboard_bg">
     	
	    	<div class="new_dashboard_left">
	        	%%DEFINE_SIDEBAR%%
	        </div>
	        <div class="new_dashboard_right">
	              
	          	<div class="bulk_upload_main %%DEFINE_bulkuploadcls%%">
	           		<div class="deploy-signature-wrapper install-add-in-inner">
	            			<div class="signature_integration_withhead_box step" id="step1" style="float:left;">
	                    			<div class="headbox_content">
				                        <h5><img src="%%DEFINE_IMAGE_LINK%%/images/install-addin.png" alt="">Microsoft 365 Add-in installation instructions</h5>
				                        <p>Outlook Custom E-signature Add-in</p>
				                        <p>Easily apply consistent email signatures across all users on Windows, Mac, and Outlook Web with our centrally managed Outlook add-in. Your Microsoft Admin can roll it out to the whole organization or select employee groups as needed.</p>
				                        <p><b>Note on Deployment:</b> It may take up to 12 hours for Microsoft to complete the rollout to all users. You'll get an email confirmation once everything is set up.</p>
				                        <a href="%%DEFINE_ROOT_LINK%%/upload-beta/E-SIGN DOC For Delpoyment.pdf" target="_blank" class="button-link">Install the Add-in</a>
	                    			</div>
	     				</div>
	                	</div>
	            	</div>
	        </div>
    	</div>
</div>
%%DEFINE_FOOTER%%