%%DEFINE_HEADER%%

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.10.2/lottie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gif.js.optimized/dist/gif.js"></script>

<div id="snackbar" class="success-error-message fixed top-0 right-0 p-3"></div>
<div id="snackbar-error" class="success-error-message fixed top-0 right-0 p-3"></div>
<div id="snackbar-info" class="success-error-message fixed top-0 right-0 p-3"></div>

<div class="flex flex-col md:flex-row w-full" id="logoProfileUploadContainer">
  <div class="flex gap-3 w-full md:w-6/12 xl:w-7/12 flex-col p-6 lg:p-10 md:overflow-auto">
    <div class="flex-1 flex flex-col">
      <div>
        <a href="%%DEFINE_linkModuleDashboard%%" class="previous kt-btn kt-btn-ghost gap-2">
          <i class="fal fa-angle-left text-xl mt-0.5"></i> Back
        </a>
      </div>
      <div class="flex-1 flex items-center justify-center">
        <form id="logoimageform" class="w-full max-w-[600px] mx-auto ">
          <fieldset>
            <div>
              <h5 class="text-gray-950 text-2xl font-medium mb-3">Upload Company Logo</h5>
              <p class="text-gray-500">Please tell us about yourself so we can create better experience for you.</p>
            </div>
            <div class="flex flex-col gap-10">
              <div class="grid grid-cols-2 gap-2 mx-auto w-full mt-6">
                <div class="h-[6px] rounded-full bg-gradient-to-r from-[#26B7FF] to-[#1D4AFE]"></div>
                <div class="h-[6px] rounded-full bg-gray-400"></div>
              </div>
              <div>
                <label class="kt-form-label !mb-3">Company Logo</label>
                <input type="file" name="file" id="file" class="hidden">
                <label for="file"
                  class="w-full block bg-gray-50 border border-gray-200 rounded-[12px] text-center relative min-h-[206px] upload-area" id="uploadfile">
                  <div class="cursor-pointer p-6 upload-box drag_your_image">
                    <span class="kt-btn kt-btn-white kt-btn-icon"><i class="fas fa-upload"></i></span>
                    <p class="text-gray-500 my-4">Choose a file or drag & drop it here.<br>PNG or SVG</p>
                    <span class="kt-btn kt-btn-primary kt-btn-outline">Browse File</span>
                  </div>
                  <div class="preview size-full absolute z-[1] hidden">
                    <div class="size-full flex items-center justify-center">
                      <img class="size-[140px] object-cover object-center" src="">
                    </div>
                    <button class="!absolute right-1 top-1 kt-btn kt-btn-white !text-gray-950"><i
                        class="fas fa-pen"></i> Edit Logo</button>
                  </div>
                </label>
                <p class="text-gray-600 text-xs mt-2"><span class="text-gray-950">Notes:</span> Please upload a logo
                  with dimension <span class="text-gray-950">500*500 and above pixel</span> for better animation
                  quality.</p>
                <div id="img_preview"></div>
                <div id="img_errormsg"></div>
              </div>
              <div>
                <div class="flex items-center mb-3">
                  <label class="kt-form-label !mb-0">Profile Photo</label>
                  <input class="kt-switch" type="checkbox" id="profileImageCheck" checked>
                </div>
                <div id="profileUploadContainer">
                  <input class="hidden" type="file" name="profileImage" id="profileImage">
                  <label
                    class="w-full flex items-center justify-center bg-gray-50 border border-gray-200 rounded-[12px] text-center relative min-h-[206px] upload-area-profile"
                    for="profileImage" id="uploadProfileImage">
                    <div class="cursor-pointer p-6 upload-box drag_your_image">
                      <span class="kt-btn kt-btn-white kt-btn-icon"><i class="fas fa-upload"></i></span>
                      <p class="text-gray-500 my-4">Choose a file or drag & drop it here.<br>PNG, JPG or SVG</p>
                      <span class="kt-btn kt-btn-primary kt-btn-outline">Browse File</span>
                    </div>
                    <div class="preview size-full absolute z-[1] hidden">
                      <div class="size-full flex items-center justify-center">
                        <img class="size-[200px] object-cover object-center" src="">
                      </div>
                      <button class="!absolute right-1 top-1 kt-btn kt-btn-white !text-gray-950"><i
                          class="fas fa-pen"></i> Edit Profile</button>
                    </div>
                  </label>
                  <p class="text-gray-600 text-xs mt-2"><span class="text-gray-950">Notes:</span> Please upload a logo
                    with dimension <span class="text-gray-950">500*500 and above pixel</span> for better animation
                    quality.</p>
                  <div id="profile_img_preview"></div>
                  <div id="profile_img_errormsg"></div>
                </div>
              </div>
            </div>
            <input type="hidden" value="%%DEFINE_USERUPLOADLIMIT%%" id="uploadlimit" />
            <div class="text-center mt-5">
              <button type="button" name="next" class="btn next kt-btn kt-btn-primary" value="Next Step" id="nxt2"
                data-id="1" disabled="disabled">Next Step </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="flex flex-col gap-4 mt-4 text-sm items-center justify-between xl:flex-row">
      <span class="text-gray-600 text-center">© 2025 Custom Esignature's Inc. All rights reserved.</span>
      <div class="flex text-gray-700 items-center gap-2">
        <a href="https://www.customesignature.com/privacypolicy" target="_blank">Privacy Policy</a>
        <i class="fas fa-circle text-[6px] text-gray-400"></i>
        <a href="https://www.customesignature.com/terms-of-use" target="_blank">Terms and Conditions</a>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full py-8 px-3 md:w-6/12 xl:w-5/12 bg-gray-100 bg-top xxl:bg-center bg-cover bg-no-repeat"
    style="background-image: url(%%DEFINE_IMAGE_LINK%%/images/welcomebg.jpg);">
    <div class="w-full max-w-[400px] mx-auto flex-1 flex flex-col justify-center">
      <div class="swiper w-full" id="loginSlider">
        <div class="swiper-wrapper">
          <div class="swiper-slide text-center">
            <img src="%%DEFINE_IMAGE_LINK%%/images/slide1.png" alt="">
            <p class="text-2xl text-dark font-medium mb-2 mt-14">Select From multiple Template</p>
            <p class="text-gray-600">Use the intuitive editor to create a personalized, professional signature with
              AI-enhanced layout and branding options.</p>
          </div>
          <div class="swiper-slide text-center">
            <img src="%%DEFINE_IMAGE_LINK%%/images/slide2.png" alt="">
            <p class="text-2xl text-dark font-medium mb-2 mt-14">Select From multiple Template</p>
            <p class="text-gray-600">Use the intuitive editor to create a personalized, professional signature with
              AI-enhanced layout and branding options.</p>
          </div>
        </div>
        <div class="swiper-pagination mt-8 !static px-16"></div>
      </div>
    </div>
  </div>
</div>

<form id="msform" class="w-full h-full overflow-hidden" style="display: none;">
  <input type="hidden" name="signature_image" value="">
  <div class="flex h-full flex-col in-data-kt-[sticky-header=on]:pt-(--header-height-default) overflow-auto">
    <main class="h-full" id="content" role="content">
      <div class="kt-container-fluid p-4 h-full">
        <div class="flex flex-col lg:flex-row gap-5 h-full">
          %%DEFINE_EDITOR_SIDEBAR_NEW_SIGNATURE%%
          <div class="flex lg:hidden items-center justify-between">
            <a href="%%DEFINE_ROOT_LINK%%/dashboard">
                <img class="h-8 inline-block" draggable="false"
                    src="%%DEFINE_IMAGE_LINK%%/images/logo.svg" alt="">
            </a>
             <span class="kt-btn kt-btn-icon kt-btn-primary" data-kt-drawer-toggle="#drawer"><i class="hgi hgi-stroke hgi-sidebar-left"></i></span>
          </div>
          <div
            class="hover_previous_right_bg w-full flex flex-col bg-cover rounded-xl border border-gray-300 bg-no-repeat bg-bottom p-5 sm:p-6 lg:p-8 2xl:p-10 h-full overflow-auto" style="background-image: url('%%DEFINE_IMAGE_LINK%%/images/previous-right-bg.png');">
            <div class="flex-1 flex flex-col items-center justify-center">
              <div class="lg:border border-gray-300 rounded-xl lg:p-5 lg:bg-white max-w-[740px] mx-auto w-full">
                <div class="flex items-center justify-between !text-gray-300 border-b border-b-gray-200 pb-4">
                  <div class="flex items-center gap-3">
                    <img class="size-9 rounded-full object-cover" draggable="false" src="%%DEFINE_IMAGE_LINK%%/images/previous-left-icon.svg" alt="">
                    <p>Custom Esignature<br /><span>to: johnsmith@example.com</span></p>
                  </div>
                  <img draggable="false" src="%%DEFINE_IMAGE_LINK%%/images/previous-right-icon.svg" alt="">
                </div>
                <p>&nbsp;</p>
                <p class="text-gray-300">Hey John,</p>
                <div class="h-2 bg-gray-200 rounded-full mt-3">&nbsp;</div>
                <div class="h-2 bg-gray-200 rounded-full mt-3 mb-10 w-1/2">&nbsp;</div>
                <p class="text-gray-300">Best,</p>
                <p>&nbsp;</p>
                %%DEFINE_lauout_load%%
                %%DEFINE_signature_profilesize_hidden_input%%
                <div class="signature_temp_preview_box">
                </div> <!-- 	// code is for saving signature html(to use in deploy)  -->
              </div>
              <div class="flex justify-center gap-4 mt-2 sm:mt-3 md:mt-4 lg:mt-8 xl:mt-10">
                <a href="%%DEFINE_linkModuleDashboard%%" class="previous kt-btn kt-btn-mono action-button-previous">Go Back</a>
                <button type="submit" name="next" class="submit kt-btn kt-btn-primary next action-button" value="Next Step">
                  Save Signature <i class="hgi hgi-stroke hgi-arrow-right-double"></i>
                </button>
              </div>
            </div>
            <div class="flex flex-wrap text-sm items-center justify-between px-4 text-center mt-5">
              <span class="text-gray-600">© 2025 Custom Esignature's Inc. All rights reserved.</span>
              <div class="flex text-gray-700 items-center gap-2">
                  <a href="https://www.customesignature.com/privacypolicy" target="_blank">Privacy Policy</a>
                  <i class="fas fa-circle text-[6px] text-gray-400"></i>
                  <a href="https://www.customesignature.com/terms-of-use" target="_blank">Terms and Conditions</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</form>


IF("%%DEFINE_USERUPLOADLIMIT%%" == "0"){
<style>
  #logoProfileUploadContainer {
    display: none !important;
  }

  #msform {
    display: inline !important;
  }
</style>
{:IF}

    <input type="hidden" id="upload_url" value="%%DEFINE_linkModuleNewsignature%%/uploadimg" />
    <input type="hidden" id="upload_profile_url" value="%%DEFINE_linkModuleNewsignature%%/uploadprofileimg" />
    <input type="hidden" id="form_url" value="%%DEFINE_linkModuleNewsignature%%" />
    <input type="hidden" id="form_url_params" value="%%DEFINE_signatureTypeParam%%" />
    <input type="hidden" id="signature_html_url" value="%%DEFINE_sig_html_save_url%%" />
    <!-- 	// code is for saving signature html(to use in deploy) -->
    <input type="hidden" id="redirecturl" value="%%DEFINE_linkModuleNewsignature%%/done" />
    <input type="hidden" id="redirecturld" value="%%DEFINE_linkModuleDashboard%%" />
    </section>
    <!-- Form-->
    <script src="%%DEFINE_JS_LINK%%/jquery-3.5.1.min.js"></script>
    <script src="%%DEFINE_JS_LINK%%/uploadimage.js?v=%%DEFINE_CSS_VERSION%%" type="text/javascript"></script>
    <script src="%%DEFINE_JS_LINK%%/uploadsigprofile.js?v=%%DEFINE_CSS_VERSION%%" type="text/javascript"></script>
    <script src="%%DEFINE_JS_LINK%%/uploadprofileimagefirsttime.js?v=%%DEFINE_CSS_VERSION%%" type="text/javascript"></script>
    <!-- Js for first time profile upload for new user  -->
    <script src="%%DEFINE_JS_LINK%%/uploadbanner.js?v=%%DEFINE_CSS_VERSION%%" type="text/javascript"></script>
    <script src="%%DEFINE_JS_LINK%%/sigeditor.js?v=%%DEFINE_CSS_VERSION%%" type="text/javascript"></script>

    <link href="%%DEFINE_JS_LINK%%/nouislider/nouislider.min.css" rel="stylesheet">
    <script src="%%DEFINE_JS_LINK%%/nouislider/nouislider.min.js"></script>
    <script type="text/javascript">
      jQuery.noConflict();
      (function ($) {
        $(document).ready(function () {

          function setupUploader(inputId, previewId) {
            let $input = $("#" + inputId);
            let $wrapper = $input.next("label");
            let $uploadBox = $wrapper.find(".upload-box");
            let $previewBox = $wrapper.find(".preview");
            let $previewImg = $wrapper.find("img");

            $input.on("change", function () {
              let file = this.files[0];
              if (file) {
                let reader = new FileReader();
                reader.onload = function (e) {
                  $previewImg.attr("src", e.target.result);
                  $uploadBox.addClass("hidden");
                  $previewBox.removeClass("hidden");
                };
                reader.readAsDataURL(file);
              }
            });

            // Optional: Reset on Edit button click
            $wrapper.find(".edit-btn").on("click", function (e) {
              e.preventDefault();
              $input.val(""); // clear file input
              $previewImg.attr("src", "");
              $previewBox.addClass("hidden");
              $uploadBox.removeClass("hidden");
            });
          }

          // Initialize both
          $(document).ready(function () {
            setupUploader("profileLogo", "profilePreview");
            setupUploader("companyLogo", "companyPreview");
          });

          /*
          //  Old code for next step and previous step 
          
          var current_fs, next_fs, previous_fs; //fieldsets
          var opacity; var step_fs;
          
          
          
          $(".next").click(function(){
            var validate =1;
            step_fs = $(this).attr("data-id");
            current_fs = $(this).parent();
            next_fs = $(this).parent().next();
            if(next_fs.length == 0){
                next_fs = current_fs;
            }
          
            //Add Class Active
            //$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
            
            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({opacity: 0}, {
              step: function(now) {
                // for making fielset appear animation
                opacity = 1 - now;
          
                current_fs.css({
                  'display': 'none',
                  'position': 'relative'
                });
                // next_fs.css({'opacity': opacity});
                
              },
              duration: 600
            });
            
            //show the next fieldset
            current_fs.promise().done(function(){
              next_fs.show();
              next_fs.css('opacity', '1');
            });
            
            
          });
          
          $(".previous").click(function(){
          
          current_fs = $(this).parent();
          previous_fs = $(this).parent().prev();
          
          //Remove class active
          //$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
          
          //show the previous fieldset
          previous_fs.show();
          
          //hide the current fieldset with style
          current_fs.animate({opacity: 0}, {
          step: function(now) {
          // for making fielset appear animation
          opacity = 1 - now;
          
          current_fs.css({
          'display': 'none',
          'position': 'relative',
          
          });
          previous_fs.css({'opacity': opacity });
          },
          duration: 600
          });
          });
          
          
          //  Old code for next step and previous step 
          */


          //  New code for next step start
          $('#nxt2').click(function () {
            if ($("#profileImageCheck").is(":checked")) {
              var fileInput = $("#profileImage")[0];
              if (!(fileInput.files && fileInput.files[0])) {
                $('#snackbar-error').html('<div class="alert alert-danger"><img draggable="false" class="absolute left-4" src="%%DEFINE_IMAGE_LINK%%/images/error-message-icon.svg" alt=""><strong>Failure! </strong> Please upload your profile image. </div>');
                $('#snackbar-error').show();
                setTimeout(function () { $('#snackbar-error').hide();}, 2000);
                return false;
              }
            }
            $("#logoProfileUploadContainer").hide();
            $("#msform").show();
          });
          //  New code for next step start



          $(".submit").click(function () {
            var redirecturl = $('#redirecturl').val();
            var redirecturld = $('#redirecturld').val();
            var validate = 1;
            $(".loader-image").show();
            $('.form-control').css('border-bottom-color', '');
            if ($('#signature_firstname').val() === "") {
              $('#signature_firstname').css('border-bottom-color', '#842029'); validate = 0;
            }
            if ($('#signature_email').val() === "") {
              $('#signature_email').css('border-bottom-color', '#842029'); validate = 0;
            }
            if ($('#signature_phone').val() === "") {
              $('#signature_phone').css('border-bottom-color', '#842029'); validate = 0;
            }
            if (validate != 1) {
              stopPropagation(); return false;
            }
            var form = $('#msform');
            data = form.serialize();
            formUrl = $('#form_url').val() + $('#form_url_params').val();

            $.ajax({
              type: 'POST',
              url: formUrl,
              data: form.serialize()
            }).done(function (data) {
              var json = JSON.parse(data);
              $(".loader-image").hide();
              if (json.error != 1) {
                if ($('#uploadlimit').val() === 1) {
                  window.location = redirecturl;
                } else {
                  $('#snackbar').html('<div class="gap-8 py-5 px-4 pl-11 border-l-9 border-green-600 rounded-xl relative bg-white bg-gradient-to-r from-[#00B71B]/12 to-[#00B71B]/0 shadow-lg"><img draggable="false" class="absolute left-4" src="%%DEFINE_IMAGE_LINK%%/images/success-message-icon.svg" alt=""><strong>Success! </strong>Signature saved! </div>');
                  $('#snackbar').show();
                  setTimeout(function () { $('#snackbar').hide(); window.location = redirecturld; }, 2000);
                  setTimeout(function () { x.className = x.className.replace("show", ""); window.location = redirecturld; }, 2000);
                }
              } else {
                $('#snackbar-error').html('<div class="alert alert-danger"><img draggable="false" class="absolute left-4" src="%%DEFINE_IMAGE_LINK%%/images/error-message-icon.svg" alt=""><strong>Failure! </strong>' + json.msg + ' </div>');
                $('#snackbar-error').show();
                setTimeout(function () { $('#snackbar-error').hide(); window.location = redirecturld; }, 2000);
                return false;
              }
              // Optionally alert the user of success here...
            }).fail(function (data) {
              return false;
              // Optionally alert the user of an error here...
            });
            return false;
          });

          // code is for saving signature html(to use in deploy) START

          function checkAllHtmlToImageGenerated(addedSignatureId) {
            var allImagesGenerated = false;
            var convertedImageCount = 0;

            $('.imagetopngClass:visible').each(function () {       //hide/show social icon border based on selected custom icons if its with social icon area
              if ($(this).find('a').children('img').length) {
                convertedImageCount++;
              }
            });
            if (convertedImageCount == $('.imagetopngClass:visible').length) {
              console.log('COMPLETED:  ' + convertedImageCount)
              allImagesGenerated = true;
            } else {
              if ((convertedImageCount > 0) && (convertedImageCount < $('.imagetopngClass:visible').length)) {
                console.log('WAITING:  ' + convertedImageCount)
                var s = document.createElement("script");
                s.type = "text/javascript";
                s.src = "%%DEFINE_JS_LINK%%/htmltoimage/html2canvas.js";
                var s2 = document.createElement("script");
                s2.type = "text/javascript";
                s2.src = "%%DEFINE_JS_LINK%%/htmltoimage/htmltoimage.js";
                $("head").append(s);
                $("head").append(s2);
              }
              convertedImageCount = 0;
            }
            setTimeout(function () {
              if (allImagesGenerated) {
                // For remove signature profile if not visible
                if ($('.signature_temp_preview_box').find('.signature_profile').not(':visible').length) {
                  // $('.signature_temp_preview_box').find('.signature_profile').parent().remove();
                  $('.signature_temp_preview_box').find('.profile-annimation-gif').remove();
                }

                // For remove signature social icon container if not visible
                if ($('.signature_temp_preview_box').find('.layout_socialicon_border').not(':visible').length) {
                  $('.signature_temp_preview_box').find('.layout_socialicon_border').remove();
                }

                // For remove signature banner if not visible
                if ($('.signature_temp_preview_box').find('.layout_banner').not(':visible').length) {
                  $('.signature_temp_preview_box').find('.layout_banner').closest('#layout_bannerlink').remove();
                }

                $('.signature_temp_preview_box').find('td').each(function () {
                  if ($(this).html().trim() == '') {
                    if ($(this).closest("tr").find('td').html().trim() == '') {
                      $(this).closest("tr").remove();
                    }
                  }
                  if ($(this).is(":hidden")) {
                    $(this).remove();
                  }
                });

                saveSignatureHtml(addedSignatureId);
              } else {
                checkAllHtmlToImageGenerated(addedSignatureId);
              }
            }, 5000);
          }

          function saveSignatureHtml(addedSignatureId) {
            var redirecturld = $('#redirecturld').val();
            var saveSignatureUrl = $('#signature_html_url').val() + '/' + addedSignatureId;
            $.ajax({
              type: 'POST',
              url: saveSignatureUrl,
              data: { html: $('.signature_temp_preview_box').html() }
            }).done(function (data) {
              $('#snackbar').html('<div class="gap-8 py-5 px-4 pl-11 border-l-9 border-green-600 rounded-xl relative bg-white bg-gradient-to-r from-[#00B71B]/12 to-[#00B71B]/0 shadow-lg"><img draggable="false" class="absolute left-4" src="%%DEFINE_IMAGE_LINK%%/images/success-message-icon.svg" alt=""><strong>Success! </strong>Signature saved! </div>');
              $('#snackbar').show();
              setTimeout(function () { $('#snackbar').hide(); window.location = redirecturld; }, 2000);
            }).fail(function (data) {
              return false;
            });
          }

          // code is for saving signature html(to use in deploy) END

        });
      })(jQuery);
    </script>
    <!--  Form End-->

    <script>
      jQuery.noConflict();
      (function ($) {
        $(document).ready(function () {
          $('#profileImageCheck').change(function() {
            $('#profileUploadContainer').toggle(this.checked);
          });
          // logo size
          var logosize = 100;
          $('#signature_logosize').val(logosize);

          var rangeSlider = $('#range')[0];
          noUiSlider.create(rangeSlider, {
            start: [logosize],
            step: 5,
            connect: [true, false],
            range: {
              'min': [30],
              'max': [300]
            },
          });

          rangeSlider.noUiSlider.on('update', function (values, handle, unencoded) {

            if (unencoded == 0) { unencoded = 100; }
            logowith = parseInt(unencoded);
            $('#logo_size').text(logowith);
            $('.signature_tbl img.layout_logo').attr("width", logowith);
            $('#signature_logosize').val(logowith);
          });

          // banner size
          var bannersize = 400;
          $('#signature_bannersize').val(bannersize);
          var rangeSlider = $('#rangebanner')[0];
          noUiSlider.create(rangeSlider, {
            start: [bannersize],
            step: 5,
            connect: [true, false],
            range: {
              'min': [150],
              'max': [600]
            },
          });

          rangeSlider.noUiSlider.on('update', function (values, handle, unencoded) {

            if (unencoded == 0) { unencoded = 150; }
            bannerwith = parseInt(unencoded);
            $('#banner_size').text(bannerwith);
            $('.signature_tbl img.layout_banner').attr("width", bannerwith);
            $('#signature_bannersize').val(bannerwith);
          });

          // border width
          var borderwidth = 1;
          $('#signature_borderwidth').val(borderwidth);

          var borderSlider = $('#borderwidth')[0];
          noUiSlider.create(borderSlider, {
            start: [borderwidth],
            step: 1,
            connect: [true, false],
            range: {
              'min': [0],
              'max': [7]
            },
          });
          borderSlider.noUiSlider.on('update', function (values, handle, unencoded) {

            //if(unencoded == 0 ) {unencoded = 1;}
            border = parseInt(unencoded);
            borderwidth = parseInt(unencoded) + 'px';
            $('.layout_border').css('border-width', borderwidth);
            $('#signature_borderwidth').val(border);
          });


          // devider width
          var dividerwidth = 1;
          $('#signature_dividerwidth').val(dividerwidth);

          var dividerSlider = $('#dividerwidth')[0];
          noUiSlider.create(dividerSlider, {
            start: [dividerwidth],
            step: 1,
            connect: [true, false],
            range: {
              'min': [0],
              'max': [7]
            },
          });
          dividerSlider.noUiSlider.on('update', function (values, handle, unencoded) {

            if (unencoded == 0) { unencoded = 1; }
            border = parseInt(unencoded);
            borderwidth = parseInt(unencoded) + 'px';
            $('.layout_divider').css('border-left-width', borderwidth);
            $('.layout_divider_bottom').css('border-bottom-width', borderwidth);
            $('.layout_divider_right').css('border-right-width', borderwidth);
            $('#signature_dividerwidth').val(border);

          });

          ///// Profile size ////
          var profilesize = '%%DEFINE_signature_profilesize%%';
          var maxWidth = Number('%%DEFINE_profile_image_size%%');
          var checkedLayoutId = $("input[type='radio'][name=layout_id]:checked").val();
          // maxWidth = $('label[for="layout_id'+checkedLayoutId+'"]').find("img.signature_profile").data('width');
          var profileImageSlider = "";

          function createProfileImageSlider(maxWidth, layOutChanged = false) {
            $('#signature_profilesize').val(profilesize);
            var rangeSlider = $('#rangeprofile')[0];
            width = $('label[for="layout_id' + checkedLayoutId + '"]').find("img.signature_profile").width();
            profilesize = (profilesize != null) ? width : profilesize;
            startRange = (layOutChanged) ? width : profilesize;
            startRange = (width != null) || (profilesize != null) ? startRange : 10;
            profileImageSlider = noUiSlider.create(rangeSlider, {
              start: [startRange],
              step: 5,
              connect: [true, false],
              range: {
                'min': [10],
                'max': [maxWidth]
              },
            });

            rangeSlider.noUiSlider.on('update', function (values, handle, unencoded) {
              if (unencoded == 0) { unencoded = 50; }
              profilewith = parseInt(unencoded);
              $('#profile_image_size').text(profilewith);
              $('label[for="layout_id' + checkedLayoutId + '"]').find("img.signature_profile").attr("width", profilewith);
              $('.signature_previous_box').find("img.profile-annimation-gif").attr("width", profilewith);
              $('label[for="layout_id' + checkedLayoutId + '"]').find("img.profile-annimation-gif").attr("width", profilewith);
              $('.signature_previous_box img.signature_profile').last().attr("width", profilewith);
              $('#signature_profilesize').val(profilewith);
            });
          }
          if (maxWidth != null) {
            createProfileImageSlider(maxWidth);
          } else {
            createProfileImageSlider(140);
          }

          $('input:radio[name="layout_id"]').change(function () {
            checkedLayoutId = $(this).val();
            // maxWidth = $('label[for="layout_id'+checkedLayoutId+'"]').find("img.signature_profile").data('width');
            maxWidth = Number($('input#profile_image_size' + checkedLayoutId).val());

            if (maxWidth != null) {
              profileImageSlider.destroy();
              createProfileImageSlider(maxWidth, true);
            } else {
              profileImageSlider.destroy();
              createProfileImageSlider(140, true);
            }
          });

          ///// Profile size END////

          /// Cta buttons size slider ///

          // ctabtn1
          var ctabtn1size = '%%DEFINE_signature_ctabtn1_size%%';
          ctabtn1sizestart = 2; // by default normal
          if (ctabtn1size == '10px') {
            ctabtn1sizestart = 1; // small
          } else if (ctabtn1size == '12px') {
            ctabtn1sizestart = 2; // normal
          } else if (ctabtn1size == '14px') {
            ctabtn1sizestart = 3; // large
          }

          $('#signaturectabtnsize1').val(ctabtn1size);
          var rangeSlider = $('#ctabtnsize1')[0];
          noUiSlider.create(rangeSlider, {
            start: [ctabtn1sizestart],
            step: 1,
            connect: [true, false],
            range: {
              'min': [1],
              'max': [3]
            },
          });

          rangeSlider.noUiSlider.on('update', function (values, handle, unencoded) {
            if (unencoded == 0) { unencoded = 2; }
            ctabtn1size = '12px'; // by default normal
            if (unencoded == 1) {
              ctabtn1size = '10px'; // small
            }
            else if (unencoded == 2) {
              ctabtn1size = '12px'; // normal
            }
            else if (unencoded == 3) {
              ctabtn1size = '14px'; // large
            }

            $(".layout_ctabtn1").css('font-size', ctabtn1size);
            $("input[name=signature_ctabtnsize1]").val(ctabtn1size);
          });

          // ctabtn2
          var ctabtn2size = '%%DEFINE_signature_ctabtn2_size%%';
          ctabtn2sizestart = 2; // by default normal
          if (ctabtn2size == '10px') {
            ctabtn2sizestart = 1; // small
          } else if (ctabtn2size == '12px') {
            ctabtn2sizestart = 2; // normal
          } else if (ctabtn2size == '14px') {
            ctabtn2sizestart = 3; // large
          }

          $('#signaturectabtnsize2').val(ctabtn2size);
          var rangeSlider = $('#ctabtnsize2')[0];
          noUiSlider.create(rangeSlider, {
            start: [ctabtn2sizestart],
            step: 1,
            connect: [true, false],
            range: {
              'min': [1],
              'max': [3]
            },
          });

          rangeSlider.noUiSlider.on('update', function (values, handle, unencoded) {
            if (unencoded == 0) { unencoded = 2; }
            ctabtn2size = '12px'; // by default normal
            if (unencoded == 1) {
              ctabtn2size = '10px'; // small
            }
            else if (unencoded == 2) {
              ctabtn2size = '12px'; // normal
            }
            else if (unencoded == 3) {
              ctabtn2size = '14px'; // large
            }

            $(".layout_ctabtn2").css('font-size', ctabtn2size);
            $("input[name=signature_ctabtnsize2]").val(ctabtn2size);
          });

          // ctabtn3
          var ctabtn3size = '%%DEFINE_signature_ctabtn3_size%%';
          ctabtn3sizestart = 2; // by default normal
          if (ctabtn3size == '10px') {
            ctabtn3sizestart = 1; // small
          } else if (ctabtn3size == '12px') {
            ctabtn3sizestart = 2; // normal
          } else if (ctabtn3size == '14px') {
            ctabtn3sizestart = 3; // large
          }
          $('#signaturectabtnsize3').val(ctabtn3size);
          var rangeSlider = $('#ctabtnsize3')[0];
          noUiSlider.create(rangeSlider, {
            start: [ctabtn3sizestart],
            step: 1,
            connect: [true, false],
            range: {
              'min': [1],
              'max': [3]
            },
          });

          rangeSlider.noUiSlider.on('update', function (values, handle, unencoded) {
            if (unencoded == 0) { unencoded = 2; }
            ctabtn3size = '12px'; // by default normal
            if (unencoded == 1) {
              ctabtn3size = '10px'; // small
            }
            else if (unencoded == 2) {
              ctabtn3size = '12px'; // normal
            }
            else if (unencoded == 3) {
              ctabtn3size = '14px'; // large
            }

            $(".layout_ctabtn3").css('font-size', ctabtn3size);
            $("input[name=signature_ctabtnsize3]").val(ctabtn3size);
          });

          /// Cta buttons size slider END///


          //  hide/show social icon border based on selected social icons
          //  if($(".sicon:visible").length < 1){
          //     $(".signature_previous_box").find('.sicon').closest('.layout_socialicon_border').hide();
          //     $(".signature_previous_box").find('.sicon').closest('.layout_socialicon_border').siblings('.layout_between_gap').css({'display': 'none'});
          //     $(".signature_layot").find('.sicon').closest('.layout_socialicon_border').hide();
          //     $(".signature_layot").find('.sicon').closest('.layout_socialicon_border').siblings('.layout_between_gap').css({'display': 'none'});
          //   }else{
          //     $(".signature_previous_box").find('.sicon').closest('.layout_socialicon_border').show();
          //     $(".signature_layot").find('.sicon').closest('.layout_socialicon_border').siblings('.layout_between_gap').css({'display': 'none'});
          //     $(".signature_layot").find('.sicon').closest('.layout_socialicon_border').show();
          //     $(".signature_layot").find('.sicon').closest('.layout_socialicon_border').siblings('.layout_between_gap').css({'display': 'revert'});
          //   }

          //   $('.layout_socialicon_border').each(function(){       //hide/show social icon border based on selected custom icons if its with social icon area
          //     if($(this).find('.layout-custombtn').length > 0){
          //       if($(this).find('.layout-custombtn').find('a').length == 0){
          //         if($("#social_link_box").find('input[type=checkbox]:checked').length > 0){
          //           $(this).closest('.layout_socialicon_border').show();
          //           $(this).closest('.layout_socialicon_border').siblings('.layout_between_gap').css({'display': 'revert'});
          //         }else{
          //           $(this).closest('.layout_socialicon_border').hide();
          //           $(this).closest('.layout_socialicon_border').siblings('.layout_between_gap').css({'display': 'none'});
          //         }
          //       }else{
          //         $(this).closest('.layout_socialicon_border').show();
          //         $(this).closest('.layout_socialicon_border').siblings('.layout_between_gap').css({'display': 'revert'});
          //       }
          //     }
          //   });

          // For manage padding only with devider on/off

          $('#signature_divider').change(function () {
            isPaddingRemove = $('input[name=layout_id]:checked').data('layout_divider_padding_remove')
            if (this.checked) {
              $(".layout_divider").css('padding', '0 0 0 15px');
            } else {
              console.log(isPaddingRemove)
              if (isPaddingRemove) {
                $(".layout_divider").css('padding', '0');
              } else {
                $(".layout_divider").css('padding', '0 0 0 15px');
              }
            }
          });



        });
      })(jQuery);
    </script>
    <!-- <script type="text/javascript">
      jQuery.noConflict();
      (function ($) {
        $(document).ready(function () {

          var tooltip = $("<div class='hover_tooltip'>Please upload your profile picture or click 'Set & Save' if it’s already uploaded.</div>");
          $('body').append(tooltip);

          // Track mousemove globally (since pointer-events are disabled)
          $(document).on('mousemove', function (e) {
            // Check if the mouse is over the .profile_animation_section
            var $section = $('.profile_animation_section');
            var sectionOffset = $section.offset();
            var sectionWidth = $section.outerWidth();
            var sectionHeight = $section.outerHeight();

            // Check if the mouse is within the bounds of the section
            if (
              e.pageX >= sectionOffset.left &&
              e.pageX <= sectionOffset.left + sectionWidth &&
              e.pageY >= sectionOffset.top &&
              e.pageY <= sectionOffset.top + sectionHeight
            ) {
              // If the section is disabled, show the tooltip
              if ($section.hasClass('section_disabled')) {
                tooltip.show();
                tooltip.css({
                  left: e.pageX + 10,  // Position tooltip slightly to the right
                  top: e.pageY + 10    // Position tooltip slightly below
                });
              }
            } else {
              tooltip.hide();  // Hide the tooltip when not hovering the section
            }
          });

          // Hide tooltip when the mouse leaves the document
          $(document).on('mouseleave', function () {
            tooltip.hide();
          });

        });
      })(jQuery);
    </script> -->
    %%DEFINE_FOOTER%%