<!DOCTYPE html>
<html class="h-full" data-kt-theme="true" data-kt-theme-mode="light" dir="ltr" lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="Custom Esignature">
    <meta property="og:title" content="Welcome to Signature Manager" />
    <meta name="description" content="A stylish signature making platform" />
    <meta property="og:description" content="A stylish signature making plateform" />
    <meta property="og:image" itemprop="image" content="%%DEFINE_IMAGE_LINK%%/images/domo-logmeta.png">
    <meta property="og:type" content="website" />
    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" href="https://cdn.hugeicons.com/font/hgi-stroke-rounded.css" />
    <link href="%%DEFINE_CSS_LINK%%/nouislider.min.css" rel="stylesheet">
    <link href="%%DEFINE_ROOT_LINK%%/dist/assets/vendors/intl-tel-input/css/intlTelInput.css" rel="stylesheet">
    <link href="%%DEFINE_ROOT_LINK%%/dist/assets/css/all.min.css" rel="stylesheet">
    <link href="%%DEFINE_ROOT_LINK%%/dist/assets/vendors/swiper/swiper.bundle.css" rel="stylesheet">
    <link href="%%DEFINE_ROOT_LINK%%/dist/assets/vendors/sweetalert2/sweetalert2.bundle.css" rel="stylesheet">
    <link href="%%DEFINE_ROOT_LINK%%/dist/assets/vendors/ktui/ktui.css" rel="stylesheet">
    <link href="%%DEFINE_ROOT_LINK%%/dist/assets/vendors/switzer/fonts.css" rel="stylesheet">
    <link href="%%DEFINE_ROOT_LINK%%/dist/assets/vendors/swiper/swiper.bundle.css" rel="stylesheet">
    <link href="%%DEFINE_CSS_LINK%%/croppie.css?v=%%DEFINE_CSS_VERSION%%" rel="stylesheet" id="style2s">
    <link href="%%DEFINE_ROOT_LINK%%/dist/assets/css/styles.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <!-- <link href="%%DEFINE_CSS_LINK%%/bootstrap.min.css" rel="stylesheet" id="style1"> -->
    <!--<link href="%%DEFINE_CSS_LINK%%/font-awesome.min.css" rel="stylesheet"> -->
    <!-- <link href="%%DEFINE_CSS_LINK%%/style.css?v=%%DEFINE_CSS_VERSION%%" rel="stylesheet" id="style2"> -->
    <!-- <link href="%%DEFINE_CSS_LINK%%/new-style.css?v=%%DEFINE_CSS_VERSION%%" rel="stylesheet" id="style2"> -->
    <link href="%%DEFINE_CSS_LINK%%/new-dashboard.css?v=%%DEFINE_CSS_VERSION%%" rel="stylesheet" id="style2">
    <link href="%%DEFINE_CSS_LINK%%/style-latest.css?v=%%DEFINE_CSS_VERSION%%" rel="stylesheet" id="style2">
    <link rel="icon" href="%%DEFINE_IMAGE_LINK%%/images/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.cdnfonts.com/css/switzer" rel="stylesheet">
<script src="%%DEFINE_ROOT_LINK%%/dist/assets/vendors/ktui/ktui.min.js"></script>

    <title>%%DEFINE_MetaTitle%%</title>
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N7F6DGX');</script>
    <!-- End Google Tag Manager -->

    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "gv8chjckyr");
    </script>
    <!-- rewardfull -->
    <script>(function(w,r){w._rwq=r;w[r]=w[r]||function(){(w[r].q=w[r].q||[]).push(arguments)}})(window,'rewardful');</script>
    <script async src='https://r.wdfl.co/rw.js' data-rewardful='2c5aa1'></script>
    <!-- rewardfull -->
    <script src="%%DEFINE_JS_LINK%%/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function(){
        window.$ = window.jQuery;
      });
    </script>
  </head>
  <body class="antialiased flex h-full text-base text-foreground bg-background [--header-height-default:95px] data-kt-[sticky-header=on]:[--header-height:60px] [--header-height:var(--header-height-default)] [--header-height-mobile:70px]">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7F6DGX"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window,document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
   fbq('init', '123920143801019'); 
  fbq('track', 'PageView');
  </script>
  <noscript>
   <img height="1" width="1" 
  src="https://www.facebook.com/tr?id=123920143801019&ev=PageView
  &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->

<div class="loader-image fixed inset-0 top-0 left-0 bg-black/50 backdrop-blur-xs z-[100]" style="display: none;">
  <div class="size-full flex flex-col items-center justify-center">
    <div class="bg-white border border-gray-300 rounded-2xl p-3 flex gap-2 min-w-60">
      <div class="border border-gray-100 bg-gray-50 p-1 flex flex-col gap-1 rounded">
        <div class="size-4 rounded bg-gray-200"></div>
        <div class="size-4 rounded bg-gray-200"></div>
        <div class="size-4 rounded bg-gray-200"></div>
        <div class="size-4 rounded bg-gray-200"></div>
        <div class="size-4 rounded bg-gray-200"></div>
      </div>
      <div class="flex flex-col justify-center pr-3">
        <div class="h-5 bg-gray-200 rounded-full w-16"></div>
        <div class="h-2 bg-gray-200 rounded-full mt-2.5 [animation:width_1s_ease-in-out_infinite]"></div>
        <div class="h-2 bg-gray-200 rounded-full mt-1 [animation:width2_1s_ease-in-out_infinite]"></div>
        <div class="h-2 bg-gray-200 rounded-full mt-2.5 [animation:width_1s_ease-in-out_infinite] [animation-delay:.2s]"></div>
        <div class="h-2 bg-gray-200 rounded-full mt-1 [animation:width2_1s_ease-in-out_infinite] [animation-delay:.2s]"></div>
        <div class="h-2 bg-gray-200 rounded-full mt-1 [animation:width_1s_ease-in-out_infinite]"></div>
      </div>
      <div class="flex gap-1.5 justify-center items-center px-4">
        <div class="w-2.5 bg-gray-200 rounded-full [animation:height_1s_ease-in-out_infinite]"></div>
        <div class="w-2.5 bg-gray-200 rounded-full [animation:height2_1s_ease-in-out_infinite]"></div>
        <div class="w-2.5 bg-gray-200 rounded-full [animation:height_1s_ease-in-out_infinite] [animation-delay:.2s]"></div>
        <div class="w-2.5 bg-gray-200 rounded-full [animation:height2_1s_ease-in-out_infinite] [animation-delay:.2s]"></div>
      </div>
    </div>
    <!-- <img draggable="false" src="%%DEFINE_IMAGE_LINK%%/images/loading-2.gif" alt=""> -->
  </div>
</div>

  <header class="hidden">
    <div class="container">
      <div class="header_bg">
        <div class="logo"><a href="%%DEFINE_linkModuleDashboard%%"><img src="%%DEFINE_IMAGE_LINK%%/images/logo.svg" alt=""></a></div>
        <div class="icon_right_side">
          <a class="tutorial" href="https://www.customesignature.com/tutorials" target="_blank">Tutorial</a> 
          <!--<a class="search_icon" href="#"><img src="%%DEFINE_IMAGE_LINK%%/images/search.svg" alt=""></a>-->
          <div class="dropdown %%DEFINE_NLDN%%">
            <a class="user_icon dropdown-toggle" href="#"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">%%DEFINE_USERPROFILEIMG%%</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="%%DEFINE_linkModuleAccount%%">My Account</a></li>
              <li><a class="dropdown-item" href="%%DEFINE_billing%%">Billing</a></li>
              <li><a class="dropdown-item" href="%%DEFINE_ROOT_LINK%%/integrations" style="display: none;">Integrations</a></li>
              <li><a class="dropdown-item" href="%%DEFINE_ROOT_LINK%%/home/logout">Sign Out</a></li>
            </ul>
          </div>
          <!-- <a class="notification_icon" href="#"><img src="%%DEFINE_IMAGE_LINK%%/images/notification.svg" alt=""></a>-->
          <!-- <a class="user_icon %%DEFINE_NLDN%%" href="%%DEFINE_linkModuleAccount%%"><img src="%%DEFINE_USERPROFILEIMG%%" alt=""></a> -->
        </div>
      </div>
    </div>
    <input type="hidden" id="root_link" value="%%DEFINE_ROOT_LINK%%">
    <input type="hidden" id="upload_link" value="%%DEFINE_UPLOAD_LINK%%">
    <input type="hidden" id="image_link" value="%%DEFINE_IMAGE_LINK%%">
    <script type="text/javascript">
      function updatehereonly() {
        alert("Please renew your account first")
      }
    </script>
  </header>

<div class="loader-container fixed size-full z-10 bg-black/80 backdrop-blur-sm flex items-center justify-center" style="display: none;" id="loader">
  <div class="flex flex-col gap-4">
    <div class="flex text-white font-bold items-center justify-between gap-3 text-lg">
      <p id="custom-loader-text">Loading...</p>
      <div class="counter" id="counter">0%</div> 
    </div> 
    <div class="w-80 h-2 bg-white rounded-full">
      <div class="bg-gradient h-full rounded-full" id="progress" style="width: 0%;"></div>
    </div>
  </div>
</div>