<script src="%%DEFINE_JS_LINK%%/jquery-3.5.1.min.js"></script>
<script src="http://localhost/customesignature/dist/assets/vendors/ktui/ktui.min.js"></script>
<script src="%%DEFINE_JS_LINK%%/default.js"></script> 
<script src="%%DEFINE_JS_LINK%%/croppie/croppie.js"></script> 
<script src="%%DEFINE_JS_LINK%%/croppie/cropImage.js"></script>
<script src="http://localhost/customesignature/dist/assets/vendors/swiper/swiper.bundle.js"></script>
<script src="http://localhost/customesignature/dist/assets/vendors/sweetalert2/sweetalert2.bundle.js"></script>