<header class="flex items-center transition-[height] shrink-0 bg-background py-4 lg:py-0 lg:h-(--header-height)" data-kt-sticky="true" data-kt-sticky-class="transition-[height] fixed z-10 top-0 left-0 right-0 shadow-xs backdrop-blur-md bg-background/70" data-kt-sticky-name="header" data-kt-sticky-offset="200px" id="header">
    <div class="kt-container-fluid flex flex-wrap gap-2 items-center lg:gap-4" id="header_container">
        <div class="flex items-stretch gap-5 justify-between w-full">
            <div class="flex items-center gap-2.5">
                <a href="%%DEFINE_ROOT_LINK%%">
                    <img class="hidden lg:block h-[34px]" src="%%DEFINE_IMAGE_LINK%%/images/logo.svg"/>
                    <img class="lg:hidden h-[34px]" src="%%DEFINE_IMAGE_LINK%%/images/domo-logo1.png"/>
                </a>
                <button class="lg:hidden kt-btn kt-btn-icon kt-btn-primary" data-kt-drawer-toggle="#mega_menu_container">
                    <i class="hgi hgi-stroke hgi-menu-11"></i>
                </button>
            </div>

            <div class="hidden lg:flex items-center justify-center grow" id="megaMenuWrapper">
                <div class="flex [--kt-reparent-mode:prepend] lg:[--kt-reparent-mode:prepend] [--kt-reparent-target:body] lg:[--kt-reparent-target:#megaMenuWrapper]" data-kt-reparent="true">
                    <div class="hidden fixed lg:relative lg:flex lg:items-stretch [--kt-drawer-enable:true] lg:[--kt-drawer-enable:false]" data-kt-drawer="true" data-kt-drawer-class="kt-drawer kt-drawer-start fixed z-10 top-0 bottom-0 w-full mr-5 max-w-[250px] p-5 lg:p-0 overflow-auto" id="mega_menu_container">
                        <ul class="kt-menu flex-col lg:flex-row flex gap-2 lg:items-center relative z-[1] *:cursor-pointer [&>*>*]:gap-2 [&>*>*]:group-[.active]:text-black [&>*>*]:group-[.active]:rounded-full [&>*>*]:group-[.active]:border-primary [&>*>*]:group-[.active]:bg-gradient-to-r [&>*>*]:group-[.active]:from-[#26B7FF]/10 [&>*>*]:group-[.active]:to-[#1D4AFE]/10 [&>*>*]:flex [&>*>*]:flex-items-center [&>*>*]:px-3 [&>*>*]:py-2 [&>*>*]:border [&>*>*]:border-transparent text-gray-500 [&>*>*]:hover:text-black [&>*>*]:hover:rounded-full [&>*>*]:hover:border-primary [&>*>*]:hover:bg-gradient-to-r [&>*>*]:hover:from-[#26B7FF]/10 [&>*>*]:hover:to-[#1D4AFE]/10" data-kt-menu="true" id="mega_menu">
                            <li class="dashboard group active">
                                <a href="%%DEFINE_ROOT_LINK%%" >
                                    <i class="font-bold hgi hgi-stroke hgi-dashboard-square-01"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            IF("%%DEFINE_integration_settings%%" == "integration_settings"){
                            <li class="integrations group">
                                <a href="%%DEFINE_integrations%%">
                                    <i class="font-bold hgi hgi-stroke hgi-plug-socket"></i>
                                    <span>Integrations</span>
                                </a>
                            </li>
                            {:IF}
                            <li class="analytics group">
                                <a href="%%DEFINE_ROOT_LINK%%/analytics">
                                    <i class="font-bold hgi hgi-stroke hgi-analytics-01"></i>
                                    <span>Analytics</span>
                                </a>
                            </li>
                            IF("%%DEFINE_USERTYPE%%" == "enterprise"){
                            <li class="bannercampaign group">
                                <a href="%%DEFINE_ROOT_LINK%%/bannercampaign">
                                    <img src="%%DEFINE_IMAGE_LINK%%/images/new-banner-campaign.svg" alt="">
                                    <span>Banner Campaign</span>
                                </a>
                            </li>
                            {:IF}
                            <li class="tutorial group">
                                <a target="_blank" href="https://www.customesignature.com/tutorials">
                                    <i class="font-bold hgi hgi-stroke hgi-computer-video"></i>
                                    <span>Tutorial</span>
                                </a>
                            </li>
                        </ul>
                        <span id="mainMenuActive" class="hidden lg:block absolute top-0 h-full rounded-full bg-gradient-to-r from-[#26B7FF]/10 to-[#1D4AFE]/10"></span>
                    </div>
                </div>
            </div>

            <div class="flex gap-2">
                %%DEFINE_IMPORT_SIGNATURE_PENDING_LEFTBAR%%
                <!-- <div class="size-[42px] rounded-full flex items-center justify-center border border-primary/50 text-black">
                    <i class="fal fa-bell"></i>
                </div>
                <div class="size-[42px] rounded-full flex items-center justify-center border border-primary/50 text-black">
                    <i class="fal fa-cog"></i>
                </div> -->
                <div data-kt-dropdown="true" data-kt-dropdown-placement="bottom-end" data-kt-dropdown-trigger="click" %%DEFINE_NLDN%%">
                    <div class="flex items-center gap-2 md:p-1 border border-primary/50 rounded-full cursor-pointer" data-kt-dropdown-toggle="true">
                        <div class="size-[42px] md:size-8 rounded-full overflow-hidden bg-gradient text-white flex items-center justify-center">
                            %%DEFINE_USERPROFILEIMG%%
                        </div>
                        <div class="hidden md:block">
                            <p class="text-gray-950 text-xs">Workspace</p>
                            <p class="text-gray-600 text-[10px]">%%DEFINE_USERNAME%%</p>
                        </div>
                        <div class="hidden md:block">
                            <span class="kt-dropdown-open:hidden">
                            <i class="fas fa-caret-down ml-1 mr-2"></i>
                            </span>
                            <span class="hidden kt-dropdown-open:inline">
                            <i class="fas fa-caret-up ml-1 mr-2"></i>
                            </span>
                        </div>
                    </div>
                    <ul class="kt-dropdown-menu w-52" data-kt-dropdown-menu="true">
                        <li class="border-b border-b-gray-200 pb-3 md:hidden">
                            <div class="flex items-center gap-2">
                                <div class="size-8 rounded-full bg-gradient text-white flex items-center justify-center">
                                    %%DEFINE_USERPROFILEIMG%%
                                </div>
                                <div>
                                    <p class="text-gray-950">Workspace</p>
                                    <p class="text-gray-600 text-xs">%%DEFINE_USERNAME%%</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="kt-dropdown-menu-link" href="%%DEFINE_linkModuleAccount%%">
                                <i class="font-bold text-gray-600 hgi hgi-stroke hgi-user-settings-01"></i> My Account Settings
                            </a>
                        </li>
                        <li>
                            <a target="_blank" class="kt-dropdown-menu-link" href="https://www.customesignature.com/tutorials">
                                <i class="font-bold text-gray-600 hgi hgi-stroke hgi-computer-video"></i> Tutorial
                            </a>
                        </li>
                        IF("%%DEFINE_billing_settings%%" == "billing_settings"){
                        <li>
                            <a class="kt-dropdown-menu-link" href="%%DEFINE_billing%%" id="billingButton">
                                <i class="font-bold text-gray-600 hgi hgi-stroke hgi-invoice-03"></i> Billing
                            </a>
                        </li>
                        {:IF}
                        IF("%%DEFINE_ISMAINENTERPRISEUSER%%" == "1"){
                        <li>
                            <a class="kt-dropdown-menu-link" href="%%DEFINE_ROOT_LINK%%/usermanagement" class="usermanagement">
                                <i class="font-bold text-gray-600 hgi hgi-stroke hgi-user"></i> User Management
                            </a>
                        </li>
                        {:IF}
                        <!-- <li><a class="kt-dropdown-menu-link" href="%%DEFINE_billing%%"><img src="%%DEFINE_IMAGE_LINK%%/images/billing.svg" alt="">Billing</a></li> -->
                        <li>
                            <a class="kt-dropdown-menu-link" target="_blank" href="https://custom-esignature-1.getrewardful.com/signup">
                                <i class="font-bold text-gray-600 hgi hgi-stroke hgi-rss-connected-02"></i> Become an affiliate
                            </a>
                        </li>
                        <li>
                            <a class="kt-dropdown-menu-link" href="%%DEFINE_ROOT_LINK%%/home/logout">
                                <i class="font-bold text-gray-600 hgi hgi-stroke hgi-login-02"></i> Logout
                            </a>
                        </li>
                        IF("%%DEFINE_billing_settings%%" == "billing_settings"){
                        <li>
                            <a class="kt-dropdown-menu-link upgrade_btn" href="%%DEFINE_billing%%">
                                <i class="font-bold text-gray-600 hgi hgi-stroke hgi-setup-01"></i> Upgrade
                            </a>
                        </li>
                        {:IF}
                    </ul>
                </div>
            </div>
        </div>
        <input type="hidden" id="plan_type" value="%%DEFINE_plan_type%%">
    </div>
</header>
