 %%DEFINE_HEADER%%
<div class="pricing_body_bg">
<div class="container">
   <div class="pricing_logo"><img src="%%DEFINE_IMAGE_LINK%%/images/logo.svg" alt=""></div>	
   <div class="pricing_top_bg">
   	  <div class="container">
   		<h2>Choose Your Plan</h2>
        <h4><span>14-Day Risk-Free Guarantee</span></h4>
      </div>
   </div>
	
  <div class="pricing_employees_bg_main">  
     
    <div class="pricing_range_bg">
    <div id="range_slider_qarter">
    	<h5><span>How many signatures do you need?</span></h5>
       	 <h6><span id="no_employee">1</span> signature</h6>	 
         <div class="range_slider">
            <div id="range"  class="noUi-target noUi-ltr noUi-horizontal"></div>
            <div class="range_text">
                <span class="rno" id="rno1">1</span>
                <span class="rno" id="rno3" style="margin-left:-30px;">3</span>
                <span class="rno" id="rno5" style="margin-left:-30px;">5</span>
                <span class="rno" id="rno10">10</span>
                <span class="rno" id="rno15">15</span>
                <span class="rno" id="rno20">20</span>
                <span class="rno" id="rno25">25</span>
                <span class="rno" id="rno30">30</span>
                <span class="rno" id="rno35">35</span>
                <span class="rno" id="rno40">40</span>
                <span class="rno" id="rno45">45</span>
                <span class="rno" id="rno50">50</span>
                <span class="rno" id="rno55">55</span>
                <span class="rno" id="rno60">60</span>
                <span class="rno" id="rno65">65</span>
                <span class="rno" id="rno70">70</span>
                <span class="rno" id="rno75">75</span>
                <span class="rno" id="rno80">80</span>
                <span class="rno" id="rno85">85</span>
                <span class="rno" id="rno90">90</span>
                <span class="rno" id="rno95">95</span>
                <span class="rno" id="rno100">100</span>
                <!--<span class="rno" id="rno100+" style="margin-left:8px;">+</span>-->
             </div>
 		      </div>
    </div>   
    </div>
        <div class="pricing_table_bg" style="padding:40px 20px 40px 20px;">
        	   		<div class="pricing_plan_box" style="display: flex; justify-content: center; flex-wrap: wrap; min-height:inherit; padding:0;">
                   	   <h2 style="justify-content: center; font-size: 22px; font-weight: 600; line-height: 26.63px; letter-spacing: -0.02em; padding-bottom:10px;">Select Plan</h2>
                       <div class="quarterly_button nav nav-tabs" id="myTab" role="tablist">
                       	  <a href="javascript:void(0);"  id="quarter-tab" data-bs-toggle="tab" data-bs-target="#quarter" type="button" role="tab" aria-controls="quarter" aria-selected="true">Quarterly</a>
                          <a href="javascript:void(0);" class="yearly active" id="year-tab" data-bs-toggle="tab" data-bs-target="#year" type="button" role="tab" aria-controls="year" aria-selected="false">Yearly <span>Save 20%</span></a>
                       </div><br />
                       <!--<div class="save_box"><span>Save +20%</span></div>-->
                   </div>
                   
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="quarter" role="tabpanel" aria-labelledby="quarter-tab">
                
                    <div class="pricing_col">
                      <div class="pricing_plan_box">
                        <h6><span>&nbsp;</span></h6>
                        <h2 style="justify-content: left;">Get a&nbsp;<i class="day_trial">free</i>&nbsp;preview</h2> 
                        <p class="top">Generate a free preview of your team’s signature: *Note: Does not include dashboard, analytics, integrations etc.</p>
                        <div class="price"><div id="year_freeprice">$0.00</div> </div>
                        <div class="price_mo">This is a visual preview. If you love it, signup!</div>
                        
                         <a class="getstarted" target="_blank" href="https://betatry.customesignature.com/" id="gs_yfree">Get My Free Signature Preview</a>
                        <div class="watch_signature_demo" style="display: none;"><a href="#"><img src="%%DEFINE_IMAGE_LINK%%/images/play-button-arrowhead.svg" alt="">Watch why Signature Demo</a></div>
                    </div>  
                      <ul>
                    <li class="right" style="font-weight:600;">Static Signature</li>
                    <li class="close">AI - Logo Animation™</li>
                    <li class="close">Verification Badge<img src="%%DEFINE_IMAGE_LINK%%/images/verification-badge.svg" alt=""></li>
                    <li class="close">Remove CES Watermark</sup></li>
                    <li class="close">Interactive Social Icons</li>
                    <li class="close">Animated Profile</li>
                    <li class="close">Pro Templates</li>
                    <li class="close">Team Dashboard</li>
                    <li class="close">Analytics (coming soon)</li>
                    <li class="close">Outlook and Gmail Sync<img src="%%DEFINE_IMAGE_LINK%%/images/gmail-icon11.svg" alt=""><img src="%%DEFINE_IMAGE_LINK%%/images/outlook-icon11.svg" alt=""></li>
                    <li class="close">Customer Support</li>
                    <li class="close">Instant Load Speed</li>
            		</ul>
                  </div>
                   
                  <div class="pricing_col recommended">
                      <div class="pricing_plan_box">
                      	  <div class="recommtext">Most Popular</div>
                      	  <h6><span>14-Day Risk-Free Guarantee</span></h6>
                          <h2>Pro Plan <!--<span class="pro">50% off</span>--></h2> 
                          <p class="top">Full animation features with advanced layouts, interactive icons, team management and auto-deployment. </p>
                          <div class="price">$<div id="quarter_proprice">13</div> <span><div id="quarter_propricespl" style="display:none;">15</div><small style="color:#B0B0B0; font-weight:400; font-size:14px;"> / month</small></span></div>
                          <div class="price_mo"><span>Billed Quarterly</span></div>
                          
                          
                          <a class="getstarted" href="%%DEFINE_moduleLinkRegister%%/plan/2/1" id="gs_qpro">Buy Now</a>
                           <div class="watch_signature_demo" style="display: none;"><a href="#"><img src="%%DEFINE_IMAGE_LINK%%/images/play-button-arrowhead.svg" alt="">Watch why Pro Plan</a></div>
                      </div>	
                      <ul>
                    <li class="right" style="font-weight:600;">Interactive Signature</li>
                    <li class="right">AI - Logo Animation™</li>
                    <li class="right">Verification Badge<img src="%%DEFINE_IMAGE_LINK%%/images/verification-badge.svg" alt=""></li>
                    <li class="right">Remove CES Watermark</sup></li>
                    <li class="right">Interactive Social Icons</li>
                    <li class="right">Animated Profile</li>
                    <li class="right">Pro Templates</li>
                    <li class="right">Team Dashboard</li>
                    <li class="right">Analytics <span>(coming soon)</span></li>
                    <li class="right">Outlook and Gmail Sync<img src="%%DEFINE_IMAGE_LINK%%/images/gmail-icon11.svg" alt=""><img src="%%DEFINE_IMAGE_LINK%%/images/outlook-icon11.svg" alt=""></li>
                    <li class="right">Customer Support</li>
                    <li class="right">Instant Load Speed</li>
            		</ul>
                  </div>
                  <div class="pricing_col">
                      <div class="pricing_plan_box">
                          <h6 style="padding:2px 0 0 0;"><span>&nbsp;</span></h6>
                          <h2>Enterprise Plan</h2> 
                            <p class="top">For large companies with over +100 users and custom solutions.</p>
                          <div class="price">Contact Us</div>
                          <div class="price_mo"><span>Billed Annualy</span></div>
                         
                          <a class="getstarted" target="_blank" href="https://www.customesignature.com/contact-us">Contact us</a>
                           <span style="font-size:12px; color:rgba(0, 0, 0, 0.60);">&nbsp;</span>
                      </div>
                      <ul>
                    <li class="right" style="font-weight:600;">Static Signature</li>
                    <li class="right">AI - Logo Animation™</li>
                    <li class="right">Verification Badge<img src="%%DEFINE_IMAGE_LINK%%/images/verification-badge.svg" alt=""></li>
                    <li class="right">Remove CES Watermark</sup></li>
                    <li class="right">Interactive Social Icons</li>
                    <li class="right">Animated Profile</li>
                    <li class="right">Pro Templates</li>
                    <li class="right">Team Dashboard</li>
                    <li class="right">Analytics <span>(coming soon)</span></li>
                    <li class="right">Outlook and Gmail Sync<img src="%%DEFINE_IMAGE_LINK%%/images/gmail-icon11.svg" alt=""><img src="%%DEFINE_IMAGE_LINK%%/images/outlook-icon11.svg" alt=""></li>
                    <li class="right">Customer Support</li>
                    <li class="right">Instant Load Speed</li>
            		</ul>
                      
                  </div>
                </div>
                
                
                
                
                <div class="tab-pane fade  show active" id="year" role="tabpanel" aria-labelledby="year-tab">
                    <div class="pricing_col">
                    <div class="pricing_plan_box">
                        <h6><span>&nbsp;</span></h6>
                        <h2 style="justify-content: left;">Get a&nbsp;<i class="day_trial">free</i>&nbsp;preview</h2> 
                        <p class="top">Generate a free preview of your team’s signature: *Note: Does not include dashboard, analytics, integrations etc.</p>
                        <div class="price"><div id="year_freeprice">$0.00</div> </div>
                        <div class="price_mo">This is a visual preview. If you love it, signup!</div>
                        
                         <a class="getstarted" target="_blank" href="https://try.customesignature.com/" id="gs_yfree">Get My Free Signature Preview</a>
                        <div class="watch_signature_demo" style="display: none;"><a href="#"><img src="%%DEFINE_IMAGE_LINK%%/images/play-button-arrowhead.svg" alt="">Watch why Signature Demo</a></div>
                    </div>  
                    <ul>
                    <li class="right" style="font-weight:600;">Interactive Signature</li>
                    <li class="close">AI - Logo Animation™</li>
                    <li class="close">Verification Badge<img src="%%DEFINE_IMAGE_LINK%%/images/verification-badge.svg" alt=""></li>
                    <li class="close">Remove CES Watermark</sup></li>
                    <li class="close">Interactive Social Icons</li>
                    <li class="close">Animated Profile</li>
                    <li class="close">Pro Templates</li>
                    <li class="close">Team Dashboard</li>
                    <li class="close">Analytics (coming soon)</li>
                    <li class="close">Outlook and Gmail Sync<img src="%%DEFINE_IMAGE_LINK%%/images/gmail-icon11.svg" alt=""><img src="%%DEFINE_IMAGE_LINK%%/images/outlook-icon11.svg" alt=""></li>
                    <li class="close">Customer Support</li>
                    <li class="close">Instant Load Speed</li>
            		</ul>
                    
                </div>
                 <div class="pricing_col recommended">
                    <div class="pricing_plan_box">
                    	<div class="recommtext">Most Popular</div>
                        <h6><span>14-Day Risk-Free Guarantee</span></h6>
                        <h2>Pro Plan <span class="pro">Saving 20%</span></h2> 
                        <p class="top">Full animation features with advanced layouts, interactive icons, team management and auto-deployment. </p>
                        <div class="price">$<div id="year_proprice">15</div> <span> was $<div style="text-decoration:line-through;" id="year_propricespl">30</div> <br /><small>/ month</small></span></div>
                        <div class="price_mo"><span>Billed Annualy</span></div>
                        <a class="getstarted" href="%%DEFINE_moduleLinkRegister%%/plan/4/1" id="gs_ypro">Buy Now</a>
                        <div class="watch_signature_demo" style="display: none;"><a href="#"><img src="%%DEFINE_IMAGE_LINK%%/images/play-button-arrowhead.svg" alt="">Watch why Pro Plan</a></div>
                    </div>	
                    <ul>
                    <li class="right" style="font-weight:600;">Interactive Signature</li>
                    <li class="right">AI - Logo Animation™</li>
                    <li class="right">Verification Badge<img src="%%DEFINE_IMAGE_LINK%%/images/verification-badge.svg" alt=""></li>
                    <li class="right">Remove CES Watermark</sup></li>
                    <li class="right">Interactive Social Icons</li>
                    <li class="right">Animated Profile</li>
                    <li class="right">Pro Templates</li>
                    <li class="right">Team Dashboard</li>
                    <li class="right">Analytics <span>(coming soon)</span></li>
                    <li class="right">Outlook and Gmail Sync<img src="%%DEFINE_IMAGE_LINK%%/images/gmail-icon11.svg" alt=""><img src="%%DEFINE_IMAGE_LINK%%/images/outlook-icon11.svg" alt=""></li>
                    <li class="right">Customer Support</li>
                    <li class="right">Instant Load Speed</li>
            		</ul>
                </div>
                <div class="pricing_col">
                    <div class="pricing_plan_box">
                    <h6 style="padding:2px 0 0 0;"><span>&nbsp;</span></h6>
                    <h2>Enterprise Plan</h2> 
                    <p class="top">For large companies with over +100 users and custom solutions.</p>
                    <div class="price">Contact Us</div>
                    <div class="price_mo"><span>Billed Annualy</span></div>
                    <a class="getstarted" target="_blank" href="https://www.customesignature.com/contact-us">Contact us</a>
                    <span style="font-size:12px; color:rgba(0, 0, 0, 0.60);">&nbsp;</span>
                    </div>
                    <ul>
                    <li class="right" style="font-weight:600;">Interactive Signature</li>
                    <li class="right">AI - Logo Animation™</li>
                    <li class="right">Verification Badge<img src="%%DEFINE_IMAGE_LINK%%/images/verification-badge.svg" alt=""></li>
                    <li class="right">Remove CES Watermark</sup></li>
                    <li class="right">Interactive Social Icons</li>
                    <li class="right">Animated Profile</li>
                    <li class="right">Pro Templates</li>
                    <li class="right">Team Dashboard</li>
                    <li class="right">Analytics <span>(coming soon)</span></li>
                    <li class="right">Outlook and Gmail Sync<img src="%%DEFINE_IMAGE_LINK%%/images/gmail-icon11.svg" alt=""><img src="%%DEFINE_IMAGE_LINK%%/images/outlook-icon11.svg" alt=""></li>
                    <li class="right">Customer Support</li>
                    <li class="right">Instant Load Speed</li>
            		</ul>
                </div>
                </div>
            </div>
        </div>
     
  </div>  

</div>
</div>

<script src="%%DEFINE_JS_LINK%%/jquery-3.5.1.min.js"></script>         
<link href="%%DEFINE_JS_LINK%%/nouislider/nouislider.min.css" rel="stylesheet">
<script src="%%DEFINE_JS_LINK%%/nouislider/nouislider.min.js"></script>
<script>
var rangeSlider = $('#range')[0];
	noUiSlider.create(rangeSlider, {
		start: [0],
		step: 5,
		connect: [true, false],
		range: {
			'min': [1],
			'2%': [3, 2],
			'4%': [5, 5],
			'max': [100]
		}
	});
  rangeSlider.noUiSlider.on('update', function( values, handle,unencoded ) {

    // var basic_quarter_unit = JSON.parse('%%DEFINE_basic_quarter_unit%%');
    // var basic_quarter_unitspl = JSON.parse('%%DEFINE_basic_quarter_unitspl%%');
    var pro_quarter_unit = JSON.parse('%%DEFINE_pro_quarter_unit%%');
    var pro_quarter_unitspl = JSON.parse('%%DEFINE_pro_quarter_unitspl%%');
    unencoded = values;
    unencoded = parseInt(unencoded);

    $('#no_employee').text(unencoded);
    // $('#quarter_basicprice').text(basic_quarter_unit[unencoded]);
    // $('#quarter_basicpricespl').text(basic_quarter_unitspl[unencoded]);
    $('#quarter_proprice').text(pro_quarter_unit[unencoded]);
    $('#quarter_propricespl').text(pro_quarter_unitspl[unencoded]);
    $('#free_priceq').text((pro_quarter_unit[unencoded] * 3).toFixed(2));

    var basicurl = $('#gs_qbasic').attr('href');
    var prourl = $('#gs_qpro').attr('href');
    newprourl = prourl.substr(0, prourl.lastIndexOf("/"));
    newprourl += "/"+unencoded;
    $('#gs_qpro').attr('href',newprourl);

    var freeurl = newprourl+'&trial=1';
    $('#gs_qfree').attr('href',freeurl);

    // year

    // var basic_year_unit = JSON.parse('%%DEFINE_basic_year_unit%%');
    // var basic_year_unitspl = JSON.parse('%%DEFINE_basic_year_unitspl%%');
    var pro_year_unit = JSON.parse('%%DEFINE_pro_year_unit%%');
    var pro_year_unitspl = JSON.parse('%%DEFINE_pro_year_unitspl%%');
    // $('#year_basicprice').text(basic_year_unit[unencoded]);
    // $('#year_basicpricespl').text(basic_year_unitspl[unencoded]);
    $('#year_proprice').text(pro_year_unit[unencoded]);
    $('#year_propricespl').text(pro_year_unitspl[unencoded]);
    $('#free_pricey').text((pro_year_unit[unencoded] * 12).toFixed(2));

    var t = "http://127.0.0.1/esignature-local//signup/4/1";
    var prourl = $('#gs_ypro').attr('href');
    newprourl = prourl.substr(0, prourl.lastIndexOf("/"));
    newprourl += "/"+unencoded;
    $('#gs_ypro').attr('href',newprourl);

    var freeurl = newprourl+'&trial=1';
    $('#gs_yfree').attr('href',freeurl);

  });
  
</script>	   

<script type="text/javascript">
    $('.logo a').on('click', function(e) {
	  window.location.href = "https://customesignature.com";
	 return false;
});
</script>
 
%%DEFINE_FOOTER%%