%%DEFINE_HEADER%%
<div class="flex grow flex-col in-data-kt-[sticky-header=on]:pt-(--header-height-default) overflow-auto bg-cover bg-no-repeat bg-top" style="background-image: url('%%DEFINE_IMAGE_LINK%%/images/pricing.jpg');">
  <main class="" id="content" role="content">
    <a href="%%DEFINE_ROOT_LINK%%/dashboard" class="kt-btn kt-btn-secondary kt-btn-icon absolute top-4 right-4">
        <i class="hgi hgi-stroke hgi-cancel-01"></i>
      </a>
    <div class="mx-auto container p-4">
      <div id="modalDataMove" class="p-5 h-full overflow-auto">
        <div class="text-center my-16">
          <h2 class="font-semibold text-gray-950">Choose <span
              class="bg-gradient-to-r from-[#26B7FF] to-[#1D4AFE] bg-clip-text text-transparent">Your Plan</span></h2>
          <p class="text-xl">How many signatures do you need?</p>
        </div>

        <div class="kt-card">
          <div class="kt-card-content relative p-10 pt-16 pr-12">
            <div class="relative">
              <div class="rangeTooltip" id="tooltip">1 Signatures</div>
              <input type="range" class="appearance-none -mx-2 block !h-5 relative z-[1] bg-transparent !w-full"
                id="rangeSlider" min="0" max="8" step="1" value="0">
              <div
                class="absolute bg-cover top-1/2 -translate-y-1/2 pointer-events-none size-5 text-[0px] -translate-x-1/2 z-[4]"
                id="customThumb" style="background-image: url('%%DEFINE_IMAGE_LINK%%/images/ellipse1.png');"></div>
              <div class="h-1.5 bg-gray-200 absolute w-full top-1/2 -translate-y-1/2 rounded-full"></div>
              <div class="h-1.5 absolute top-1/2 -translate-y-1/2 rounded-full bg-gradient" id="fillTreck"></div>
            </div>
            <div class="labels hidden lg:flex justify-between mt-4 *:w-6 *:text-center" id="labels"></div>
          </div>
        </div>

        <div class="flex items-center justify-center gap-2 my-10">
          <div class="flex items-center gap-2">
            <label class="kt-label">Monthly</label>
            <input class="kt-switch" type="checkbox" role="switch" id="plan_type" name="checkbox" checked>
          </div>
          <p>
            <span>Yearly <span>
                <span class="kt-badge rounded-full bg-gradient-to-r from-[#26B7FF]/10 to-[#1D4AFE]/10">Save 20%</span>
          </p>
        </div>

        <!-- <div id="range_slider_qarter">
          <h6><span class="no_employee">1</span> signature</h6>	 
          <div class="kt-card mt-3">
            <div class="kt-card-content">
              <div id="range"  class="noUi-target noUi-ltr noUi-horizontal"></div>
              <div class="lg:flex justify-between mt-5 hidden *:w-6">
                <span class="rno" id="rno1">1</span>
                <span class="rno" id="rno3">3</span>
                <span class="rno" id="rno5">5</span>
                <span class="rno" id="rno10">10</span>
                <span class="rno" id="rno15">15</span>
                <span class="rno" id="rno20">20</span>
                <span class="rno" id="rno25">25</span>
                <span class="rno" id="rno30">30</span>
                <span class="rno" id="rno35">35</span>
                <span class="rno" id="rno40">40</span>
                <span class="rno" id="rno45">45</span>
                <span class="rno" id="rno50">50</span>
                <span class="rno" id="rno55">55</span>
                <span class="rno" id="rno60">60</span>
                <span class="rno" id="rno65">65</span>
                <span class="rno" id="rno70">70</span>
                <span class="rno" id="rno75">75</span>
                <span class="rno" id="rno80">80</span>
                <span class="rno" id="rno85">85</span>
                <span class="rno" id="rno90">90</span>
                <span class="rno" id="rno95">95</span>
                <span class="rno" id="rno100">100</span>
              </div>
            </div>
          </div>
        </div> -->

        <div class="hidden" id="monthly-tab">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div class="kt-card mt-5 bg-gradient-to-br from-[#26B7FF]/5 via-white/5 to-[#1D4AFE]/5 recommended">
              <div class="kt-card-content">
                <div class="flex items-center gap-10">
                  <div>
                    <h5 class="font-semibold">Pro Plan</h5>
                    <p><span class="no_employee">1</span> signature</span></p>
                    <p class="mt-1 bg-gradient-to-r from-[#26B7FF] to-[#1D4AFE] bg-clip-text text-transparent">14-Day Risk-Free
                      Guarantee</p>
                  </div>
                  <span class="font-normal kt-badge kt-badge-lg px-4 h-auto py-1 text-base rounded-full bg-gradient-to-b from-[#26B7FF] to-[#1D4AFE] shadow-[0_0_15px_#1D4AFE,inset_0_-2px_6px_#1E3CB5] text-white">Most
                    Popular</span>
                </div>
                <p class="h-5 line-through font-bold text-gray-500 mt-4 sm:mt-5 md:mt-6 lg:mt-7 xl:mt-10"></p>
                <h2>$<span id="month_proprice">13</span></h2>
                <h2 id="month_propricespl" style="display:none;">15</h2>

                <p class="text-gray-400 my-1">Billed Monthly</p>
                <p class="h-5"></p>
                <!-- <p class="text-gray-400">Full animation features with advanced layouts, interactive icons, team management
                  and auto-deployment.</p> -->
                <a class="kt-btn kt-btn-primary w-full my-4" href="%%DEFINE_purchase%%/plan/7/1" id="gs_qpro">Get
                  Started</a>
                <ul class="list-check space-y-2">
                  <li class="flex gap-1">Interactive Signature</li>
                  <li class="flex gap-1">AI - Logo Animation™</li>
                  <li class="flex gap-1">Verification Badge<img class="mt-0.5"
                      src="%%DEFINE_IMAGE_LINK%%/images/verification-badge.svg" alt="">
                  </li>
                  <li class="flex gap-1">Remove CES Watermark</sup></li>
                  <li class="flex gap-1">Interactive Social Icons</li>
                  <li class="flex gap-1">Animated Profile</li>
                  <li class="flex gap-1">Pro Templates</li>
                  <li class="flex gap-1">Team Dashboard</li>
                  <li class="flex gap-1">Analytics <span>(coming soon)</span></li>
                  <li class="flex gap-1">Outlook and Gmail Sync<img class="mt-0.5"
                      src="%%DEFINE_IMAGE_LINK%%/images/gmail-icon11.svg" alt=""><img class="mt-0.5"
                      src="%%DEFINE_IMAGE_LINK%%/images/outlook-icon11.svg" alt=""></li>
                  <li class="flex gap-1">Customer Support</li>
                  <li class="flex gap-1">Instant Load Speed</li>
                </ul>
              </div>
            </div>
            <div class="kt-card mt-5">
              <div class="kt-card-content">
                <div class="flex items-center gap-10">
                  <div>
                    <h5>Enterprise Plan</h5>
                    <p>100+ signature</p>
                    <p class="mt-1 bg-gradient-to-r from-[#26B7FF] to-[#1D4AFE] bg-clip-text text-transparent">14-Day
                      Risk-Free Guarantee</p>
                  </div>
                  <span class="font-normal kt-badge kt-badge-lg px-4 h-auto py-1 text-base rounded-full bg-gradient-to-b from-[#26B7FF] to-[#1D4AFE] shadow-[0_0_15px_#1D4AFE,inset_0_-2px_6px_#1E3CB5] text-white">Most
                    Popular</span>
                </div>
                <p class="min-h-5 line-through font-bold text-gray-500 mt-4 sm:mt-5 md:mt-6 lg:mt-7 xl:mt-10"></p>
                <h2>Contact Us</h2>
                <p class="text-gray-400 mt-1">For large companies with over +100 users and custom solutions.</p>
                <p class="min-h-5"></p>
                <a class="kt-btn kt-btn-white w-full my-4" target="_blank"
                  href="https://www.customesignature.com/contact-us">Contact us</a>

                <ul class="list-check space-y-2">
                  <li class="flex gap-1">Static Signature</li>
                  <li class="flex gap-1">AI - Logo Animation™</li>
                  <li class="flex gap-1">Verification Badge<img src="%%DEFINE_IMAGE_LINK%%/images/verification-badge.svg"
                      alt="">
                  </li>
                  <li class="flex gap-1">Remove CES Watermark</sup></li>
                  <li class="flex gap-1">Interactive Social Icons</li>
                  <li class="flex gap-1">Animated Profile</li>
                  <li class="flex gap-1">Pro Templates</li>
                  <li class="flex gap-1">Team Dashboard</li>
                  <li class="flex gap-1">Analytics <span>(coming soon)</span></li>
                  <li class="flex gap-1">Outlook and Gmail Sync<img src="%%DEFINE_IMAGE_LINK%%/images/gmail-icon11.svg"
                      alt=""><img src="%%DEFINE_IMAGE_LINK%%/images/outlook-icon11.svg" alt=""></li>
                  <li class="flex gap-1">Customer Support</li>
                  <li class="flex gap-1">Instant Load Speed</li>
                </ul>
                <p class="text-lg border-t border-t-gray-200 pt-4 mt-4 mb-3">Everything in the Pro Plan, plus...</p>
                <ul class="list-check space-y-2">
                  <li class="flex gap-1">100+ Signatures</li>
                  <li class="flex gap-1">Department Segmentation</li>
                  <li class="flex gap-1">Dedicated Onboarding</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="yearly-tab">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div class="kt-card mt-5 bg-gradient-to-br from-[#26B7FF]/5 via-white/5 to-[#1D4AFE]/5">
              <div class="kt-card-content recommended">
                <div class="flex items-center gap-10">
                  <div>
                    <h5 class="font-semibold">Pro Plan</h5>
                    <p><span class="no_employee">1</span> signature</p>
                    <p class="mt-1 bg-gradient-to-r from-[#26B7FF] to-[#1D4AFE] bg-clip-text text-transparent">14-Day
                      Risk-Free Guarantee</p>
                  </div>
                  <span class="font-normal kt-badge kt-badge-lg px-4 h-auto py-1 text-base rounded-full bg-gradient-to-b from-[#26B7FF] to-[#1D4AFE] shadow-[0_0_15px_#1D4AFE,inset_0_-2px_6px_#1E3CB5] text-white">Most
                    Popular</span>
                </div>
                <p class="min-h-5 line-through font-bold text-gray-500 mt-4 sm:mt-5 md:mt-6 lg:mt-7 xl:mt-10">
                  $<span id="year_propricespl">30</span>
                </p>
                <h2>$<span id="year_proprice">15</span></h2>

                <p class="text-gray-400 my-1">Billed Annualy</p>
                <p class="min-h-5 text-gray-400">Full animation features with advanced layouts, interactive icons, team management
                  and auto-deployment.</p>
                <a class="kt-btn kt-btn-primary w-full my-4" href="%%DEFINE_purchase%%/plan/8/1" id="gs_ypro">7 Day Free trial</a>

                <ul class="list-check space-y-2">
                  <li class="flex gap-1">Interactive Signature</li>
                  <li class="flex gap-1">AI - Logo Animation™</li>
                  <li class="flex gap-1">Verification Badge<img class="mt-0.5"
                      src="%%DEFINE_IMAGE_LINK%%/images/verification-badge.svg" alt=""></li>
                  <li class="flex gap-1">Remove CES Watermark</sup></li>
                  <li class="flex gap-1">Interactive Social Icons</li>
                  <li class="flex gap-1">Animated Profile</li>
                  <li class="flex gap-1">Pro Templates</li>
                  <li class="flex gap-1">Team Dashboard</li>
                  <li class="flex gap-1">Analytics <span>(coming soon)</span></li>
                  <li class="flex gap-1">Outlook and Gmail Sync<img class="mt-0.5"
                      src="%%DEFINE_IMAGE_LINK%%/images/gmail-icon11.svg" alt=""><img class="mt-0.5"
                      src="%%DEFINE_IMAGE_LINK%%/images/outlook-icon11.svg" alt=""></li>
                  <li class="flex gap-1">Customer Support</li>
                  <li class="flex gap-1">Instant Load Speed</li>
                </ul>
                <ul class="list-minus space-y-2 text-gray-300 pt-6 mt-6 border-t border-t-gray-300">
                  <li>Department Segmentation</li>
                  <li>100+ Signatures</li>
                  <li>Dedicated Onboarding</li>
                </ul>
              </div>
            </div>
            <div class="kt-card mt-5">
              <div class="kt-card-content">
                <div class="flex items-center gap-10">
                  <div>
                    <h5>Enterprise Plan</h5>
                    <p>100+ signature</p>
                    <p class="mt-1 bg-gradient-to-r from-[#26B7FF] to-[#1D4AFE] bg-clip-text text-transparent">14-Day
                      Risk-Free Guarantee</p>
                  </div>
                  <span class="font-normal kt-badge kt-badge-lg px-4 h-auto py-1 text-base rounded-full bg-gradient-to-b from-[#26B7FF] to-[#1D4AFE] shadow-[0_0_15px_#1D4AFE,inset_0_-2px_6px_#1E3CB5] text-white">Most
                    Popular</span>
                </div>
                <p class="min-h-5 line-through font-bold text-gray-500 mt-4 sm:mt-5 md:mt-6 lg:mt-7 xl:mt-10"></p>
                <h2>Contact Us</h2>
                <p class="text-gray-400 mt-1">For large companies with over +100 users and custom solutions.</p>
                <p class="min-h-5"></p>
                <a class="kt-btn kt-btn-white w-full my-4" target="_blank"
                  href="https://www.customesignature.com/contact-us">Contact us</a>
                <ul class="list-check space-y-2">
                  <li class="flex gap-1">Interactive Signature</li>
                  <li class="flex gap-1">AI - Logo Animation™</li>
                  <li class="flex gap-1">Verification Badge<img class="mt-0.5"
                      src="%%DEFINE_IMAGE_LINK%%/images/verification-badge.svg" alt=""></li>
                  <li class="flex gap-1">Remove CES Watermark</sup></li>
                  <li class="flex gap-1">Interactive Social Icons</li>
                  <li class="flex gap-1">Animated Profile</li>
                  <li class="flex gap-1">Pro Templates</li>
                  <li class="flex gap-1">Team Dashboard</li>
                  <li class="flex gap-1">Analytics <span>(coming soon)</span></li>
                  <li class="flex gap-1">Outlook and Gmail Sync<img class="mt-0.5"
                      src="%%DEFINE_IMAGE_LINK%%/images/gmail-icon11.svg" alt=""><img class="mt-0.5"
                      src="%%DEFINE_IMAGE_LINK%%/images/outlook-icon11.svg" alt=""></li>
                  <li class="flex gap-1">Customer Support</li>
                  <li class="flex gap-1">Instant Load Speed</li>
                </ul>
                <p class="text-lg border-t border-t-gray-200 pt-4 mt-4 mb-3">Everything in the Pro Plan, plus...</p>
                <ul class="list-check space-y-2">
                  <li class="flex gap-1">100+ Signatures</li>
                  <li class="flex gap-1">Department Segmentation</li>
                  <li class="flex gap-1">Dedicated Onboarding</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>


<script src="%%DEFINE_JS_LINK%%/jquery-3.5.1.min.js"></script>
<link href="%%DEFINE_JS_LINK%%/nouislider/nouislider.min.css" rel="stylesheet">
<script src="%%DEFINE_JS_LINK%%/nouislider/nouislider.min.js"></script>

<script>

  function updatePlanDetails(value) {
    var pro_month_unit = JSON.parse('%%DEFINE_pro_month_unit%%');
    var pro_month_unitspl = JSON.parse('%%DEFINE_pro_month_unitspl%%');
    unencoded = value;
    unencoded = parseInt(unencoded);

    $('.no_employee').text(unencoded);
    $('#month_proprice').text(pro_month_unit[unencoded]);
    $('#month_propricespl').text(pro_month_unitspl[unencoded]);
    $('#free_priceq').text((pro_month_unit[unencoded] * 3).toFixed(2));

    var basicurl = $('#gs_qbasic').attr('href');
    var prourl = $('#gs_qpro').attr('href');
    newprourl = prourl.substr(0, prourl.lastIndexOf("/"));
    newprourl += "/" + unencoded;
    $('#gs_qpro').attr('href', newprourl);

    var freeurl = newprourl + '&trial=1';
    $('#gs_qfree').attr('href', freeurl);

    // year
    var pro_year_unit = JSON.parse('%%DEFINE_pro_year_unit%%');
    var pro_year_unitspl = JSON.parse('%%DEFINE_pro_year_unitspl%%');
    $('#year_proprice').text(pro_year_unit[unencoded]);
    $('#year_propricespl').text(pro_year_unitspl[unencoded]);
    $('#free_pricey').text((pro_year_unit[unencoded] * 12).toFixed(2));

    var prourl = $('#gs_ypro').attr('href');
    newprourl = prourl.substr(0, prourl.lastIndexOf("/"));
    newprourl += "/" + unencoded;
    $('#gs_ypro').attr('href', newprourl);

    var freeurl = newprourl + '&trial=1';
    $('#gs_yfree').attr('href', freeurl);
  }

  function initCustomSlider(
        values = [1, 3, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100],
        sliderId = "rangeSlider",
        tooltipId = "tooltip",
        labelsId = "labels",
        thumbId = "customThumb",
        fillId = "fillTreck"
      ) {
        const slider = document.getElementById(sliderId);
        const tooltip = document.getElementById(tooltipId);
        const labelsContainer = document.getElementById(labelsId);
        const customThumb = document.getElementById(thumbId);
        const rangeBg = document.getElementById(fillId);

        const thumbWidth = customThumb.offsetWidth;
        const halfThumb = thumbWidth / 2;

        // Set slider max
        slider.max = values.length - 1;

        // Apply negative margin to labels container
        labelsContainer.style.marginLeft = `-${halfThumb}px`;
        labelsContainer.style.marginRight = `-${halfThumb}px`;

        // Add labels
        labelsContainer.innerHTML = "";
        values.forEach(val => {
          const span = document.createElement("span");
          span.textContent = val;
          labelsContainer.appendChild(span);
        });

        function updateUI() {
          const index = parseInt(slider.value);
          const value = values[index];
          const percent = (index / (values.length - 1)) * 100;
          const sliderWidth = slider.offsetWidth;
          const posX = (percent / 100) * sliderWidth;

          tooltip.style.left = posX + "px";
          tooltip.textContent = `${value} signature`;

          customThumb.style.left = posX + "px";
          rangeBg.style.width = percent + "%";

          if (typeof updatePlanDetails === 'function') {
              updatePlanDetails(value);
          }
          if (typeof updateRenewaccountPlanDetails === 'function') {
              updateRenewaccountPlanDetails(value);
          }
          if (typeof updatePurchasePlanDetails === 'function') {
              updatePurchasePlanDetails(value);
          }
          if (typeof updatePlanDetailsDashboard === 'function') {
              updatePlanDetailsDashboard(value);
          }
        }
        slider.addEventListener("input", updateUI);
        window.addEventListener("resize", updateUI);

        updateUI(); // initialize
      }


  initCustomSlider();
  
  /*
  var rangeSlider = $('#range')[0];
  noUiSlider.create(rangeSlider, {
    start: [0],
    step: 5,
    connect: [true, false],
    range: {
      'min': [1],
      '2%': [3, 2],
      '4%': [5, 5],
      'max': [100]
    }
  });
  rangeSlider.noUiSlider.on('update', function (values, handle, unencoded) {

    var pro_month_unit = JSON.parse('%%DEFINE_pro_month_unit%%');
    var pro_month_unitspl = JSON.parse('%%DEFINE_pro_month_unitspl%%');
    unencoded = values;
    unencoded = parseInt(unencoded);

    $('.no_employee').text(unencoded);
    $('#month_proprice').text(pro_month_unit[unencoded]);
    $('#month_propricespl').text(pro_month_unitspl[unencoded]);
    $('#free_priceq').text((pro_month_unit[unencoded] * 3).toFixed(2));

    var basicurl = $('#gs_qbasic').attr('href');
    var prourl = $('#gs_qpro').attr('href');
    newprourl = prourl.substr(0, prourl.lastIndexOf("/"));
    newprourl += "/" + unencoded;
    $('#gs_qpro').attr('href', newprourl);

    var freeurl = newprourl + '&trial=1';
    $('#gs_qfree').attr('href', freeurl);

    // year
    var pro_year_unit = JSON.parse('%%DEFINE_pro_year_unit%%');
    var pro_year_unitspl = JSON.parse('%%DEFINE_pro_year_unitspl%%');
    $('#year_proprice').text(pro_year_unit[unencoded]);
    $('#year_propricespl').text(pro_year_unitspl[unencoded]);
    $('#free_pricey').text((pro_year_unit[unencoded] * 12).toFixed(2));

    var prourl = $('#gs_ypro').attr('href');
    newprourl = prourl.substr(0, prourl.lastIndexOf("/"));
    newprourl += "/" + unencoded;
    $('#gs_ypro').attr('href', newprourl);

    var freeurl = newprourl + '&trial=1';
    $('#gs_yfree').attr('href', freeurl);

  });
*/
</script>

<script type="text/javascript">
  $('.logo a').on('click', function (e) {
    window.location.href = "https://customesignature.com";
    return false;
  });
</script>

<script type="text/javascript">
  jQuery.noConflict();
  (function ($) {
    $(document).ready(function () {
      var user_id = "%%DEFINE_USERID%%";
      var root_link = $('#root_link').val();
      if(!user_id){
        $('#gs_qpro').attr('href', root_link+'/signin');
        $('#gs_ypro').attr('href', root_link+'/signin');
      }

      $('#plan_type').on('change', function () {
        if ($(this).is(':checked')) {
          $("#yearly-tab").removeClass('hidden');
          $("#monthly-tab").addClass('hidden');
        } else {
          $("#monthly-tab").removeClass('hidden');
          $("#yearly-tab").addClass('hidden');
        }
      });
    });
  })(jQuery);
</script>

%%DEFINE_FOOTER%%