%%DEFINE_HEADER%%
<section>
<div class="container">
	<div class="dashboard_set_up_bg">
     <form name="resetpassword" method="post" >
    	<div class="row">
        	<div class="col-md-5 col-12">
            %%DEFINE_Message%%
                 <h3>Reset Password</h3>
                 <p></p>	
				 <div class="form-floating">
  				<input type="password" placeholder="Password" name="password" id="password" class="form-control" required onchange="return validatePass(this)" />
  					<label for=" ">Password</label>
				</div>	
			     <div class="form-floating">
                   <input type="password" placeholder="Confirm Password" name="cpassword" id="cpassword" class="form-control" required onchange="confirmpass(password,cpassword)" />
                  <label for="">Confirm Password</label>
                </div>	
                  <div class="sign_in_button">
                  <input type="hidden" name="RESETPASS" value="RESETPASS" />
                    <input type="hidden" name="RESETPASSKEY" value="%%DEFINE_KEY%%" />
                  	 <button type="submit" name="submit" class="btn btn-primary">Reset Password <img src="%%DEFINE_IMAGE_LINK%%/images/arrow-right.svg" alt=""></button>
				  </div> 	
             </div>
        </div>
        </form>
    </div>
</div>

</section>
%%DEFINE_FOOTER%%