 %%DEFINE_HEADER%%
	  <div class="container">
      <div class="dashboard_set_up_bg">
    			 
                
                <!--<div class="signature_manager_top">
                	<p>Bulk Signature</p>
                    <div class="button_right">
                        <a class="btn" href="%%DEFINE_linkModuleNewsignature%%">Create Signature</a>
                    </div>
                </div>-->
                <div class="row">               
                   <div class="thanks_main text-center">
                   		<h3 style="font-size:36px; font-weight:700;">Thanks!</h3>
                        <p style="color:#000000; font-size:36px;">The signature has been created successfully.</p>
                         <div class="button_bg">
          					<a href="%%DEFINE_linkModuleDashboard%%">Dashboard <img src="%%DEFINE_IMAGE_LINK%%/images/arrow-right.svg" alt=""></a></div>
                          </div>	
                   </div>
                </div>
   	  </div>	 	 
    </div>
  
   
%%DEFINE_FOOTER%%