 %%DEFINE_HEADER%%

   
	  <div class="container">
      <div class="dashboard_set_up_bg">
    			 
                
                <div class="signature_manager_top">
                	<p>%%DEFINE_PageName%%</p>
                    <div class="button_right">
                    	<!-- <a class="btn" href="#">Invite Team Members</a> -->
                        <a class="btn" href="%%DEFINE_linkModuleNewsignature%%">Create Signature</a>
                    </div>
                </div>
                <div class="row">               
                   %%DEFINE_PageDesc%%
                    
                </div>
   	  </div>	 	 
    </div>
    
   
	  
%%DEFINE_FOOTER%%