%%DEFINE_HEADER%%
<style>
table{ border:none; border-collapse: collapse;}
tr, td{ border:none; border-collapse: collapse;}
</style>

<div class="kt-container-fluid p-4 h-full">
  <div class="hover_previous_right_bg w-full flex flex-col bg-cover rounded-xl border border-gray-300 bg-no-repeat bg-bottom p-5 sm:p-6 lg:p-8 2xl:p-10 h-auto md:h-full overflow-auto"
    style="background-image: url('%%DEFINE_IMAGE_LINK%%/images/previous-right-bg.png');">
    <div class="flex justify-between items-center w-full mb-4">
      <div class="max-w-[150px]">
        <a href="%%DEFINE_ROOT_LINK%%">
          <img class="!hidden lg:!block !max-w-full h-[34px]" src="%%DEFINE_IMAGE_LINK%%/images/logo.svg"/>
          <img class="lg:!hidden !max-w-full h-[34px]" src="%%DEFINE_IMAGE_LINK%%/images/domo-logo1.png"/></a>
      </div>
        <div>
          <a class="kt-btn kt-btn-primary" href="https://www.customesignature.com/tutorials" target="_blank">
          <img class="invert" src="%%DEFINE_IMAGE_LINK%%/images/top-tutorial-icon.svg" alt="">Tutorial</a>
        </div>
    </div>
    <div class="flex-1 flex flex-col items-center justify-center">
      <div class="w-full max-w-[740px] mx-auto gap-8 mb-4 py-5 px-4 pl-11 border border-primary rounded-xl relative"><img class="absolute left-4" src="%%DEFINE_IMAGE_LINK%%/images/warning-use-sign-symbol.svg" alt=""> <strong> Safari </strong>isn't supported. Use&nbsp;<strong>Chrome</strong> or other browser to integrate signature</div>
      <div id="snackbar" class="success-error-message fixed top-0 right-0 p-3"></div>
      <div id="snackbar-error" class="success-error-message fixed top-0 right-0 p-3"></div>
      <div id="snackbar-info" class="success-error-message fixed top-0 right-0 p-3"></div>
      <div class="border border-gray-300 rounded-xl p-4 bg-white max-w-[740px] mx-auto w-full">
        <div class="flex items-center justify-between !text-gray-300 border-b border-b-gray-200 pb-4">
          <div class="flex items-center gap-2 sm:gap-3">
            <img class="size-9 rounded-full object-cover" draggable="false"
              src="%%DEFINE_IMAGE_LINK%%/images/previous-left-icon.svg" alt="">
            <p class="text-xs sm:text-sm">Custom Esignature<br /><span>to: johnsmith@example.com</span></p>
          </div>
          <img draggable="false" src="%%DEFINE_IMAGE_LINK%%/images/previous-right-icon.svg" alt="">
        </div>
        <p>&nbsp;</p>
        <p class="text-gray-300 text-xs sm:text-sm">Hey John,</p>
        <div class="hidden sm:block h-2 bg-gray-200 rounded-full mt-3">&nbsp;</div>
        <div class="hidden sm:block h-2 bg-gray-200 rounded-full mt-3 mb-10 w-1/2">&nbsp;</div>
        <p class="text-gray-300 text-xs sm:text-sm">Best,</p>
        <p>&nbsp;</p>
        <div id="signature_source" class="pointer-events-none">
   			 	%%DEFINE_signature_source%%
        </div>
      </div>
      <div class="overlay-loader">
   		 <img class="loaderGif" style="display: block; margin-left: auto; margin-right: auto;" src="%%DEFINE_IMAGE_LINK%%/images/loading-2.gif"/>
      </div>
      <div class="flex flex-col w-full sm:flex-row justify-center items-center gap-4 mt-5 md:mt-6 lg:mt-8 xl:mt-10">
        <a href="%%DEFINE_linkModuleDashboard%%" class="previous kt-btn kt-btn-mono action-button-previous w-full sm:w-auto"><i class="hgi hgi-stroke hgi-arrow-left-02"></i> Go Back</a>
        %%DEFINE_use_signature_buttons%%
      </div>
    </div>
  </div>
</div>

 <script src="%%DEFINE_ROOT_LINK%%/script/jquery-3.5.1.min.js"></script> 
 <script src="%%DEFINE_JS_LINK%%/htmltoimage/html2canvas.js"></script> 
 <script src="%%DEFINE_JS_LINK%%/htmltoimage/htmltoimage.js"></script> 
<script>
  // remove empty tr from layout
  $("img[src='']").remove();
  $("span:empty").remove();
  $(document).ready(function(){
    $('td').each(function() {
      if ($(this).html().trim() == '') {
        if ($(this).closest("tr").find('td').html().trim() == '') {
          $(this).closest("tr").remove();
        }else if ($(this).closest("tr").find('td').find('table').length) {
          $(this).closest("tr").find('td').find('table').find('tr').each(function() {
            if ($(this).html().trim() == '') {
              $(this).remove();
            }
          });
        }
      }
      else if ($(this).closest("tr").find('td').find('table').length) {
          var removeCount = 0;
          $(this).closest("tr").find('td').find('table').find('tr').each(function() {
            if ($(this).html().trim() == '') {
              $(this).remove();
              removeCount++;
            }
          });
          if($(this).closest("tr").find('td').find('table').find('tr').length == removeCount){
            $(this).closest("tr").find('td').remove();
          }
      }
    });
  });
  
  /*function CopyToClipboard(el) {
	  el = document.getElementById(el);
  var body1 = document.body,
    range,
    sel;
  if (document.createRange && window.getSelection) {
    range = document.createRange();
    sel = window.getSelection();
    sel.removeAllRanges();
    try {
      range.selectNodeContents(el);
      sel.addRange(range);
    } catch (e) {
      range.selectNode(el);
      sel.addRange(range);
    }
  } else if (body1.createTextRange) {
    range = body1.createTextRange();
    range.moveToElementText(el);
    range.select();
  }
  document.execCommand("Copy");
  $('#snackbar').html('Copied!');
	var x = document.getElementById("snackbar");
	x.className = "show";
	setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}*/



function CopyToClipboard(element) {
		var doc = document, 
    text = doc.getElementById(element), 
    range, selection;
	
	if (doc.body.createTextRange){
		range = doc.body.createTextRange();
		range.moveToElementText(text);
		range.select();
	}else if (window.getSelection){
		 $("#style1").attr("disabled", "disabled");
		 $("#style2").attr("disabled", "disabled");
		selection = window.getSelection(); 
		range = doc.createRange();
		range.selectNodeContents(text);
		selection.removeAllRanges();
		selection.addRange(range);   
 	}
	document.execCommand('copy');
	window.getSelection().removeAllRanges();
	$("#style1").removeAttr('disabled');
	$("#style2").removeAttr('disabled');

  KTToast.show({
    message: '<b>Success!</b> Copied!',
    variant: 'success',
    icon: '<i class="fas fa-check-circle text-success"></i>',
  });


  // $('#snackbar').html('<div class="success-error-message gap-8 py-5 px-4 pl-11 border-l-9 border-green-600 rounded-xl relative bg-white bg-gradient-to-r from-[#00B71B]/12 to-[#00B71B]/0 shadow-lg"></div><img class="absolute left-4" src="%%DEFINE_IMAGE_LINK%%/images/success-message-icon.svg" alt=""><strong>Success! </strong>Copied!</div>');
  // $('#snackbar').show();
  // setTimeout(function(){ $('#snackbar').hide(); }, 2000);
  
	//document.getElementById("btn").value="Copied";
}

$('#copy_sorcecode').on('click', function (event) {  // copy signature
	content = $('#signature_source').html();
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val(content).select();
  document.execCommand("copy");
  $temp.remove();
  KTToast.show({
    message: '<b>Success!</b> Copied!',
    variant: 'success',
    icon: '<i class="fas fa-check-circle text-success"></i>',
  });
  // $('#snackbar').html('<div class="success-error-message gap-8 py-5 px-4 pl-11 border-l-9 border-green-600 rounded-xl relative bg-white bg-gradient-to-r from-[#00B71B]/12 to-[#00B71B]/0 shadow-lg"></div><img class="absolute left-4" src="%%DEFINE_IMAGE_LINK%%/images/success-message-icon.svg" alt=""><strong>Success! </strong>Copied!</div>');
  // $('#snackbar').show();
  // setTimeout(function(){ $('#snackbar').hide(); }, 2000);
	setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
});

// var copyBtn = document.querySelector('#copy_btn');
// copyBtn.addEventListener('click', function () {
//   var urlField = document.querySelector('table');
// 
//   // create a Range object
//   var range = document.createRange();  
//   // set the Node to select the "range"
//   range.selectNode(urlField);
//   // add the Range to the set of window selections
//   window.getSelection().addRange(range);
// 
//   // execute 'copy', can't 'cut' in this case
//   document.execCommand('copy');
// }, false);


</script>


%%DEFINE_FOOTER%%