%%DEFINE_HEADER%%  
<section>
<div class="new_signin_bg" style="background:#fff;">
	<div class="row">
        <div class="col-xl-5 col-lg-6 col-12">
        	<div class="welcome_page_main">
            	<div class="top_logo"><img src="%%DEFINE_IMAGE_LINK%%/images/logo.svg" alt=""></div>
                <div class="step">Step 1 of 2</div>
                <h2>Hey %%DEFINE_USERFIRSTNAME%%! <br>Welcome to</h2>
                <h1>Custom Esignature</h1>
                <div class="button_bg"><a href="%%DEFINE_departmententerprise%%">Create Your First Department!</a></div>
                <div class="sign_previous_bg">
                    <div class="previous_top_bg_box">
                    	<div class="previous_top_img">
                    	<div class="previous_left">
                        	<img src="%%DEFINE_IMAGE_LINK%%/images/previous-left-icon.svg" alt="">
                            <p>Custom Esignature<br /><span>to: johnsmith@example.com</span></p>
                        </div>
                        <div class="previous_right_img"><img src="%%DEFINE_IMAGE_LINK%%/images/previous-right-icon.svg" alt=""></div>
                    </div>
                    	<p>&nbsp;</p>
                    	<p>Hey John,</p>
                        <div class="line_one">&nbsp;</div>
                        <div class="line_two">&nbsp;</div>
                        <p>Best,</p>
                        <p>&nbsp;</p>
                    </div>
                    <div class="signature_previous_box">
                    	%%DEFINE_lauout_load%%
                      %%DEFINE_signature_profilesize_hidden_input%%
                    </div>
                </div>
            </div>
         </div>   
        <div class="col-xl-7 col-lg-6 col-12">
        	<div class="signin_left_bg video">
            	<video width="100%" border="0" autoplay muted loop>
                    <source src="%%DEFINE_IMAGE_LINK%%/images/video/esign-signin-page.mp4" type="video/mp4">
                </video>
            </div>
        </div>    
       </div>
    </div>
    
  
</section>
%%DEFINE_FOOTER%%
  
    
  

 

 

 
 


 
              
    

 
  
</section>

<footer>
  
</footer>
 
  


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
       
  <script src="js/bootstrap.bundle.min.js"></script> 
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--<script src="js/jquery-3.5.1.slim.min.js"></script>	
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>-->
  


    
  </body>
</html>