%%DEFINE_HEADER%%

<div class="flex flex-col md:flex-row w-full">
    <div class="flex gap-3 w-full md:w-6/12 xl:w-7/12 flex-col p-6 lg:p-10">
        %%DEFINE_Message%%
        <div class="flex-1 max-w-[600px] w-full mx-auto pt-4 md:pt-14 flex flex-col">
            <div>
                <h2>Hey, %%DEFINE_USERFIRSTNAME%%! <br>Welcome to</h2>
                <h2 class="font-semibold bg-gradient-to-r from-[#26B7FF] to-[#1D4AFE] bg-clip-text text-transparent">Custom Esignature</h2>
                <a class="kt-btn kt-btn-primary w-full mt-8" href="%%DEFINE_linkModuleNewsignature%%">Get Started</a>
            </div>
            <div class="flex items-center justify-center flex-1 py-10">
                <img src="%%DEFINE_IMAGE_LINK%%/images/welcome-slide.png" alt="">
            </div>
            <!-- <div class="sign_previous_bg">
                <div class="previous_top_bg_box">
                    <div class="previous_top_img">
                        <div class="previous_left">
                            <img src="%%DEFINE_IMAGE_LINK%%/images/previous-left-icon.svg" alt="">
                            <p>Custom Esignature<br /><span>to: johnsmith@example.com</span></p>
                        </div>
                        <div class="previous_right_img">
                            <img src="%%DEFINE_IMAGE_LINK%%/images/previous-right-icon.svg" alt="">
                        </div>
                    </div>
                    <p>&nbsp;</p>
                    <p>Hey John,</p>
                    <div class="line_one">&nbsp;</div>
                    <div class="line_two">&nbsp;</div>
                    <p>Best,</p>
                    <p>&nbsp;</p>
                </div>
                <div class="signature_previous_box">
                    %%DEFINE_lauout_load%%
                    %%DEFINE_signature_profilesize_hidden_input%%
                </div>
            </div> -->
        </div>
        <div class="flex flex-col gap-4 mt-4 text-sm items-center justify-between xl:flex-row">
            <span class="text-gray-600 text-center">© 2025 Custom Esignature's Inc. All rights reserved.</span>
            <div class="flex text-gray-700 items-center gap-2">
                <a href="https://www.customesignature.com/privacypolicy" target="_blank">Privacy Policy</a>
                <i class="fas fa-circle text-[6px] text-gray-400"></i>
                <a href="https://www.customesignature.com/terms-of-use" target="_blank">Terms and Conditions</a>
            </div>
        </div>
    </div>
    <div class="flex flex-col w-full py-8 px-3 md:w-6/12 xl:w-5/12 bg-gray-100 bg-top xxl:bg-center bg-cover bg-no-repeat"
    style="background-image: url(%%DEFINE_IMAGE_LINK%%/images/welcomebg.jpg);">
        <div class="w-full max-w-[400px] mx-auto flex-1 flex flex-col justify-center">
        <div class="swiper w-full" id="loginSlider">
            <div class="swiper-wrapper">
            <div class="swiper-slide text-center">
                <img src="%%DEFINE_IMAGE_LINK%%/images/slide1.png" alt="">
                <p class="text-2xl text-dark font-medium mb-2 mt-14">Select From multiple Template</p>
                <p class="text-gray-600">Use the intuitive editor to create a personalized, professional signature with
                AI-enhanced layout and branding options.</p>
            </div>
            <div class="swiper-slide text-center">
                <img src="%%DEFINE_IMAGE_LINK%%/images/slide2.png" alt="">
                <p class="text-2xl text-dark font-medium mb-2 mt-14">Select From multiple Template</p>
                <p class="text-gray-600">Use the intuitive editor to create a personalized, professional signature with
                AI-enhanced layout and branding options.</p>
            </div>
            </div>
            <div class="swiper-pagination mt-8 !static px-16"></div>
        </div>
        </div>
    </div>
</div>
<script>
  $(document).ready(function() {
    setTimeout(function(){ $('.alert').remove(); }, 3000);
  });
</script>

%%DEFINE_FOOTER%%
<script src="js/bootstrap.bundle.min.js"></script>